<!doctype html>
<html lang="it">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<title>Pierres Romanes: <TMPL_VAR NAME="region_name_fr"></title>
	<meta name="Author" content="Romanes.com"/>
	<meta name="description" content="<TMPL_VAR NAME="region_name_fr">: Elenco di monumenti romanici, gotici e cistercensi in Francia e in Europa"/>
	<meta name="keywords" content="roman, art, architecture, gothique, chiesa, Abbazia, cathédrale, cisterciense, cisterciensene, medioevale, moyen-age, romanica, patrimoine, scultura, romanicas, romanicasque"/>
<!-- SOCIAL NETWORK SNIPPETS -->
	<!-- TWITTER -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@Pierres_Romanes">
		<meta name="twitter:title" content="Romanes.com <TMPL_VAR NAME="region_name_fr">">
		<meta name="twitter:description" content="<TMPL_VAR NAME="region_name_fr"> Elenco di monumenti romanici, gotici e cistercensi in Francia e in Europa">
		<meta name="twitter:image:src" content="http://www.romanes.com/assets/img/Front_Page.jpg">
		<link rel="preconnect" href="http://www.romanes.com">
	<!-- FACEBOOK & LINKEDIN -->
        	<meta property="og:type" content="website">
		<meta property="og:url" content="http://www.romanes.com/France_it.html" />
		<meta property="og:title" content="<TMPL_VAR NAME="region_name_fr">: territori dell'arte romanica" />
		<meta property="og:description" content="<TMPL_VAR NAME="region_name_fr"> Elenco di monumenti romanici, gotici e cistercensi in Francia e in Europa
" />
		<meta property="og:site_name" content="Romanes.com" />
        	<meta property="og:locale" content="it_IT">
		<meta property="og:image" content="http://www.romanes.com/assets/img/Front_Page.jpg" />
		<meta property="fb:page_id" content="219631694779739" />
		<meta property="fb:app_id" content="240279752710069" />
		<!-- GOOGLE PLUS -->
		<meta itemprop="url" content="http://www.romanes.com/France_it.html"/>
		<meta itemprop="name" content="<TMPL_VAR NAME="region_name_fr">: territori dell'arte romanica"/>
		<meta itemprop="description" content="Elenco di monumenti romanici, gotici e cistercensi in Francia e in Europa"/>
		<meta itemprop="image" content="http://www.romanes.com/assets/img/Front_Page.jpg"/>
 <!-- END SOCIAL NETWORK SNIPPETS -->		

<TMPL_IF NAME="lang_fr"> <link rel="alternate" hreflang="fr" href="http://www.romanes.com/<TMPL_VAR NAME="doc_local_fr">" /></TMPL_IF>
<TMPL_IF NAME="lang_es"> <link rel="alternate" hreflang="es" href="http://www.romanes.com/<TMPL_VAR NAME="doc_local_es">" /></TMPL_IF>
<TMPL_IF NAME="lang_it"> <link rel="alternate" hreflang="it" href="http://www.romanes.com/<TMPL_VAR NAME="doc_local_it">" /></TMPL_IF>
<TMPL_IF NAME="lang_en"> <link rel="alternate" hreflang="en" href="http://www.romanes.com/<TMPL_VAR NAME="doc_local_en">" /></TMPL_IF>


		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
		<meta name="viewport" content="width=device-width" />
    
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" />
		<link href="/assets/css/gsdk.css" rel="stylesheet"/>      
		<link href="/assets/css/r3b.css" rel="stylesheet" /> 
        
    <!--     Fonts and icons     -->
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"> 
		<link href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300' rel='stylesheet' type='text/css'>  
		<link href="/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />  
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

	<meta name="theme-color" content="#EEEEEE">
	<meta name="apple-mobile-web-app-status-bar-style" content="#EEEEEE">
	<link rel="apple-touch-startup-image" href="/apple-icon.png">
	<meta name='apple-mobile-web-app-title' content='Pierres Romanes, Art Roman'>
     	<meta name="mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<meta name='apple-mobile-web-app-status-bar-style' content='black'/>
	<meta name="PBO.auth" content="b6c674368c270ffc8b2d8a07c43d34ac" >
	<meta name="edgeio-key" content="3c26f18b0a2a8c61beade2c6cffdbab7ab5da8b9" >
	<meta name="google-site-verification" content="7o56YVir2DjaDgd2-vcJYKbxA_2An5k3tL8GZX5-UHY" />
	<meta name="pics-label" content='(pics-1.1 "http://www.icra.org/ratingsv02.html" comment "ICRAonline FR v2.0" l gen true for "http://www.romanes.com" r (nz 1 vz 1 lz 1 oz 1 cz 1) "http://www.rsac.org/ratingsv01.html" l gen true for "http://www.romanes.com" r (n 0 s 0 v 0 l 0))' >
	<meta name="document-classification" content="internet">
	<meta name="document-type" content="Public">
	<meta name="document-rating" content="Safe for Kids">
	<meta name="rating" content="General">
	<meta name="copyright" content="Copyright (c) 2000-2018 Romanes.com. All Rights Reserved.">
	<meta name="rights" content="/copyright.html">
	<meta name="language" content="fr, eng, es, it">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-151022-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body class="solid_menu">



<nav class="navbar navbar-default navbar-transparent navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobile_menu">
        <span class="sr-only">Toggle navigation</span>
		<span class="lines">
			<span class="icon-bar bar"></span>
			<span class="icon-bar bar"></span>
			<span class="icon-bar bar"></span>
		</span>
        <span class="text">MENU</span>
      </button>
      <a href="/">
           <div class="logo-container">
                <div class="logo">
                    <img src="http://www.romanes.com/assets/img/Front_Page.jpg" alt="Romanes.comm Logo" width="50px"/>
                </div>
                <div class="brand">
                    Pierres Romanes
				</div>
			</div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1">
	  <div id="mobile_menu" class="for_mobile">
		  <div class="container menu_cont">
			  <ul class="nav navbar-nav navbar-right nav_list_menu">
					<li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Arts
							<b class="caret"></b>
						  </a>
						  <ul class="dropdown-menu">
							<li><a href="/Arts/">Introduzione</a></li>
							<li><a href="/art_roman.html">Architettura</a></li>
							<li><a href="/Arts/sculpture_romane.html">Scultura</a></li>
							<li><a href="/Arts/vitraux_romans.html">Vetro colorato</a></li>
							<li><a href="/Arts/manuscrits_romans.html">Manoscritto</a></li>
							<li><a href="/Arts/ivoires_romans.html">Avorio</a></li>
							<li><a href="/art_cistercien.html">Cistercense art</a></li>
							<li><a href="/art_gothique.html">Gotico art</a></li>
						  </ul>
					</li>			
					<li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Europa romanica
							<b class="caret"></b>
						  </a>
						  <ul class="dropdown-menu">
						        <li><a href="/romanes_map.html">Mappa romanica europa</a></li>
							<li><a href="/voyages_fr.html" title="Itinerari e viaggi">Itinerari e viaggi</a></li>
							<li><a href="/France_it.html">Lista dei siti per Regione</a></li>
							<li><a href="/map_list.html">Lista dei siti per mappa</a></li>
							<li><a href="/romanes_map.html">Mappa interattiva</a></li>
							<li><a href="/earth/gps_poi.html">Mappa GPS</a></li>
							<li><a href="/earth">Mappa su Google Earth</a></li>
						  </ul>
					</li>
					
					<li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Bussola
							<b class="caret"></b>
						  </a>
						  <ul class="dropdown-menu">
						<li><a href="/medieval_history_fr.html">Cronologia medievale</a></li>
						<li><a href="/map_hist.html">Tempo carta</a></li>
						<li><a href="/romanes_map.html">Mappa interattiva</a></li>
						  </ul>
					</li>
					<li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Biblioteca
							<b class="caret"></b>
						  </a>
						  <ul class="dropdown-menu">
							<li><a href="/biblio/index.html">Libri</a></li>
							<li><a href="/biblio/zodiaque.html">Edizioni Zodiaque</a></li>
							<li><a href="/biblio/musiques_fr.html">Musica medievale</a></li>
							<li><a href="/news/artisanat_fr.html">Artigiani</a></li>
							<li><a href="/biblio/index_en.html">English books</a></li>
						  </ul>
					</li>		
			   </ul>
		   </div>
		 <ul class="nav navbar-nav navbar-right nav_list_lng">
                        <li class="active">
			    <TMPL_IF NAME="lang_fr">
                               <a href="<TMPL_VAR NAME="doc_local_fr">">
                               <img src="/assets/img/flags/FR.png"/></a></TMPL_IF>
                            <TMPL_IF NAME="lang_en">
                               <a href="<TMPL_VAR NAME="doc_local_en">">
                               <img src="/assets/img/flags/US.png"/></a></TMPL_IF>
                            <TMPL_IF NAME="lang_it">
                               <a href="<TMPL_VAR NAME="doc_local_it">">
                               <img src="/assets/img/flags/IT.png"/></a></TMPL_IF>
                            <TMPL_IF NAME="lang_es">
                               <a href="<TMPL_VAR NAME="doc_local_es">">
                               <img src="/assets/img/flags/ES.png"/></a></TMPL_IF>

			</li>     
		  </ul>
	  </div>
	<ul class="nav navbar-nav navbar-right nav_list_search">
            <li class="dropdown active">
                 <a href="javascript:void(0);" data-toggle="search" class=""><i class="fa fa-search"></i></a>
            </li>
            <form class="navbar-form navbar-left navbar-search-form" role="search" id="searchform" method="get" action="/search_it.html">
                <div class="form-group">
                    <input type="text"  class="form-control" placeholder="Ricerca..." name="q" id="s" size="18" value="Ricerca..." onblur="if(this.value=='') this.value='Ricerca...';" onfocus="if(this.value=='Search...') this.value='';" />
                    <input type="hidden" name="cx" value="partner-pub-9572068145045929:cvginc45qvg" />
                    <input type="hidden" name="cof" value="FORID:10" />
                    <input type="hidden" name="ie" value="UTF8" />
                </div>
            </form>
          </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="space-50"></div>
<div class="section">
    <div class="container tim-container" style="padding-bottom:30px">
        <h1 class="text-center"><TMPL_VAR NAME="region_name_fr"></h1>
    </div>


    <TMPL_IF NAME="region_intro"> <div class="separator separator-gray"></div><TMPL_VAR NAME="region_intro"> </TMPL_IF>

    <div class="separator separator-gray"></div>
    <div class="container tim-container" style="padding-bottom:30px">
        <div class="columnlists">
            <ul>
                <TMPL_LOOP NAME="region_list"><li><a href="<TMPL_VAR NAME="region_url">"><TMPL_VAR NAME="region_name_fr"></a></li></TMPL_LOOP>
            </ul>
        </div>

    </div>
</div>

<div class="section">
    <TMPL_LOOP NAME="site_loop">
        <div class="separator separator-gray"><TMPL_IF NAME="title_name_fr"><a name="<TMPL_VAR NAME="title_id_fr">"> </a></TMPL_IF></div>
    <div class="container">

                <TMPL_IF NAME="title_name_fr"><h2 class="section-title"><TMPL_VAR NAME="title_name_fr"></h2></TMPL_IF>
                <TMPL_LOOP NAME="thb_site_loop_line">
                    <div class="row">
                        <TMPL_LOOP NAME="thb_site_loop_td">
                            <TMPL_IF NAME="album_url">
            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="<TMPL_VAR NAME="thb_url">" alt="<TMPL_VAR NAME="place_name_fr">">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="<TMPL_VAR NAME="album_url">"><i class="fa fa-align-left"></i>Scoprire</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="<TMPL_VAR NAME="album_url">">
                            <h4 class="title"><TMPL_VAR NAME="place_name_fr"></h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <TMPL_VAR NAME="town_name_fr_1">
                            </div>
                            <div class="stats pull-right">
                                <TMPL_VAR NAME="epoch">
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>
                                <TMPL_ELSE>
                            </TMPL_IF>
                        </TMPL_LOOP>
                        </div>
                </TMPL_LOOP>
    </div>
            </TMPL_LOOP>

    </div>
</div>






    <footer class="footer footer-big footer-transparent" style="background-image: url('/assets/img/carousel/FR-Saint_Martin_du_Canigou-Saint_Martin-f100_2008-08-14_1928_pt.png');">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h5 class="title">Su di noi</h5>
                    <nav>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/email.html">Contattaci</a></li>
                            <li><a href="/email.html">Informazioni sul sito</a></li>
                            <li><a href="/email.html">Informazioni sulle immagini</a></li>
                            <li><a href="http://romanes.blogspot.com/">Blog</a></li>
                            <li><a href="/copyright.html">Informazioni legali</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h5 class="title">Risorse</h5>
                    <nav>
                        <ul>
                            <li><a href="/romanes_map.html">Europa romana</a></li>
                            <li><a href="/map_hist.html">Mappe storiche</a></li>
                            <li><a href="/medieval_history_fr.html">Cronologia storica</a></li>
                            <li><a href="/biblio/">Biblioteca Generale</a></li>
                            <li><a href="/biblio/zodiaque_fr.html">Zodiaque editions</a></li>
                            <li><a href="/biblio/musiques_fr.html">Musica</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3">
                    <h5 class="title">Follow us on</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="http://www.facebook.com/Structor.et.Pictor" class="btn btn-social btn-facebook btn-simple">
                                    <i class="fa fa-facebook-square"></i> Facebook
                                </a>
                            </li>
                            <li>
                                <a href="/newsletter.html" class="btn btn-social btn-dribbble btn-simple">

                                    <i class="fa fa-envelope"></i> Newsletter
                                </a>
                            </li>
                            <li>
                                <a href="http://twitter.com/Pierres_Romanes" class="btn btn-social btn-twitter btn-simple">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                            </li>
                            <li>
                                <a href="http://pinterest.com/epierre/art-roman/" class="btn btn-social btn-reddit btn-simple">
                                    <i class="fa fa-pinterest-square"></i> Pinterest
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>

                <div class="col-md-3">
                    <h5 class="title">Argomenti popolari:</h5>
                    <nav>
                        <ul>
                            <li><a href="/art_roman.html">arte romanica</a></li>
                            <li><a href="/art_gothique.html">arte gotica</a></li>
                            <li><a href="/art_cistercien.html">arte cistercense</a></li>
                            <li><a href="/Arts/sculpture_romane.html">scultura romanica</a></li>
                            <li><a href="/Arts/vitraux_romans.html">finestre di vetro colorato</a></li>
                            <li><a href="/Arts/manuscrits_romans.html">manoscritti romani</a></li>
                            <li><a href="/voyages_fr.html">itinerari e viaggi</a></li>
                            <li><a href="/medieval_history_fr.html">cronologia medieval</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <hr />
            <div class="copyright">
                Except where indicated otherwise, all content and images &copy; Romanes.com. All rights reserved.
            </div>
        </div>
    </footer>



    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/js/get-shit-done.js"></script>
    <script src="/assets/js/r3.js"></script>

    <script type="text/javascript">
        $().ready(function(){
            $(window).on('scroll', gsdk.checkScrollForTransparentNavbar);
        });
    </script>

    <script>
        var transparent = true;
        var header_height;
        var fixed_section;
        var floating = false;

        $().ready(function(){
            suggestions_distance = $("#suggestions").offset();
            header_height = $('.parallax').outerHeight() + 20;
            pay_height = $('.fixed-section').outerHeight();
            fixed_section = $('.fixed-section');

            checkScrollForPresentationNavbar();
        });

        $(window).on('scroll',function(){
            checkScrollForPresentationNavbar();
        });

        var checkScrollForPresentationNavbar = debounce(function() {
            if($(this).scrollTop() > 470 ) {
                if(transparent) {
                    transparent = false;
                    $('nav[role="navigation"]').removeClass('navbar-transparent').addClass('navbar-small');
                    $('#issueButton').addClass('btn-info').removeClass('btn-neutral');

                }
            } else {
                if( !transparent ) {
                    transparent = true;
                    $('nav[role="navigation"]').addClass('navbar-transparent').removeClass('navbar-small');
                    $('#issueButton').addClass('btn-neutral').removeClass('btn-info');
                }
            }

            if($(this).scrollTop() > header_height ) {
                if(!floating) {
                    floating = true;
                    fixed_section.addClass('float');
                }
            } else {
                if( floating ) {
                    floating = false;
                    fixed_section.removeClass('float');
                }
            }
        }, 4);

    </script>

<script src="/assets/js/cookiechoices.js"></script><script>document.addEventListener('DOMContentLoaded', function(event){cookieChoices.showCookieConsentBar('Questo sito utilizza i cookie per offrirti il miglior servizio. Continuando la navigazione, accetti l'uso dei cookie.', 'Acetto', 'Saperne di più', 'http://www.romanes.com/copyright.html');});</script>


    </html>
