<!-- Start Content -->
<div id="content-one">
	
<!-- Start LH-COL -->
<div id="lh-col2">
<!-- Title -->
<div class="boxheader"><h1>Sites en <TMPL_VAR NAME="region_name_fr"></h1></div>
<!-- /Title -->


<!-- Menu -->
<div class="boxlist">
<p style="display:block;">
<ul style="font-size: 10px;">
<TMPL_LOOP NAME="region_list"><a href="<TMPL_VAR NAME="region_url">"><TMPL_VAR NAME="region_name_fr"></a><br/></TMPL_LOOP>
</ul></p>
</div>
<!-- /Menu -->

<!-- RIGHTtable -->
    <div class="boxheader" style="border-top-width: 1px; border-top-style: solid; border-top-color: #d5d5d5; clear: left; margin-top: 20px; padding-top: 20px;"><a> <h1> Un livre...</h1></a></div>
   <table cellspacing="0" cellpadding="0" width="100%">
   <tbody><tr><td class="boxtext" align="center" valign="middle">
<center>
<!-- AdsNews -->
<div id="book_dyn"></div>
<!-- /AdsNews-->
</center>
</td></tr></tbody></table>
<!-- /RIGHTtable -->

<!-- RIGHTtable -->
    <div class="boxheader" style="border-top-width: 1px; border-top-style: solid; border-top-color: #d5d5d5; clear: left; margin-top: 20px; padding-top: 20px;"><a> <h1> Articles et nouveautés</h1> </a></div>
   <table cellspacing="0" cellpadding="0" width="100%">
	<tbody><tr><td class="boxlist" width="50%">
<!-- AdsNews -->
<div id="rss_hist2"></div>
<!-- /AdsNews-->
<div style="border-top-width: 1px; border-top-style: solid; border-top-color: #d5d5d5; clear: left;"/>
<!-- AdsNews -->
<div id="rss_hist1"></div>
<!-- /AdsNews -->
</td></tr></tbody></table>
<!-- /RIGHTtable -->

</div>

<!-- End LH-COL -->

<!-- Start Content -->
<div id="c-col2">


<TMPL_IF NAME="region_intro"> <TMPL_VAR NAME="region_intro"> </TMPL_IF>

<div class="boxlist" style="">
<a name="F83"> </a><h1 class="boxheader">Derniers articles sur le Blog</h1>
<div id="rss_categ1"></div>

<br/><hr/><br/>

<TMPL_LOOP NAME="site_loop">
	<TMPL_IF NAME="title_name_fr"><a name="<TMPL_VAR NAME="title_id_fr">"> </a><h1 class="boxheader"><TMPL_VAR NAME="title_name_fr"></h1></TMPL_IF>

<center><table border="0">
<TMPL_LOOP NAME="thb_site_loop_line">
        <tr>
<TMPL_LOOP NAME="thb_site_loop_td">
	<TMPL_IF NAME="album_url">
                     <td width="107" height="84" valign="middle" align="center" bgcolor="<TMPL_VAR NAME="BGC">"><a href="<TMPL_VAR NAME="album_url">"><img src="<TMPL_VAR NAME="thb_url">" alt="<TMPL_VAR NAME="place_name_fr">" title="<TMPL_VAR NAME="place_name_fr">" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"> <b><TMPL_VAR NAME="place_name_fr"></b><br/></font> <TMPL_VAR NAME="epoch"><br/><TMPL_VAR NAME="style"><br/><br/> <a href="<TMPL_VAR NAME="album_url">">Voir l'Album >></a></td>
	<TMPL_ELSE>
                    <td width="107" height="84" valign="middle" align="center">&nbsp;</td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left">&nbsp;</td>
	</TMPL_IF>
</TMPL_LOOP>
        </tr>
        <tr><td height="6px" colspan="6"></td></tr>
</TMPL_LOOP>
        <tr><td height="16px" colspan="6"></td></tr>
</table></center>
</TMPL_LOOP>

</div>
</div>


<script type="text/javascript" src="/js/dyn_pages.js"> </script>

<!-- Aggreg Type RSS Region -->
<script type="text/javascript">
var xmlhttp=false;
/*@cc_on @*/ 
/*@if (@_jscript_version >= 5)
// JScript gives us Conditional compilation, we can cope with old IE versions.
// and security blocked creation of the objects.
 try {
  xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
 } catch (e) {
  try {
   xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
  } catch (E) {
   xmlhttp = false;
  }
 }
@end @*/
if (!xmlhttp && typeof XMLHttpRequest!='undefined') {
    try {
        xmlhttp = new XMLHttpRequest();
    } catch (e) {
        xmlhttp=false;
    }
}
if (!xmlhttp && window.createRequest) {
    try {
        xmlhttp = window.createRequest();
    } catch (e) {
        xmlhttp=false;
    }
}
if (xmlhttp) {
    var url;
    var x=1;
        if (x==1) { url="/dyn/aggreg_type.php?r=<TMPL_VAR NAME="rss_region_fr">";}
        xmlhttp.open("GET",url,true);
        xmlhttp.onreadystatechange=function() {
            if (xmlhttp.readyState==4) {
            var eltid="rss_categ"+x
              var mondoc=document.getElementById(eltid)
              mondoc.innerHTML=xmlhttp.responseText
            }
        }
        xmlhttp.send(null)
}
</script>
<!-- /Aggreg Type -->

<!-- End Content -->
	<br/><br/>
	<br/><br/>
	<br/><br/>

