<div class="container tim-container" style="padding-bottom:10px;padding-top:10px;">
<div class="row">
<p>L'Art Roman d'Auvergne est caractérisé par l'édification rapide de monuments de grande taille, et une statuaire d'une plastique très élaborée sur des thèmes historiques.</p>
</div>

    <div class="section">

<div class="row">

                    <div class="col-md-4">
                        <div class="card card-plain">
                            <div class="image">
                                <img src="http://romanes11.free.fr/FR-Clermont-ND_Port-4685-0015.jpg" alt="Notre Dame du Port de Clermont">
                                <div class="filter">
                                    <button type="button" class="btn btn-neutral btn-simple">
                                        <a href="/Clermont/ND_Port/"><i class="fa fa-align-left"></i>Voir l'album</a>
                                    </button>
                                </div>
                            </div>
                            <div class="content">
                                <p class="category text-info">
                                </p>
                                <a class="card-link" href="#">
                                    <h4 class="title">Notre Dame du Port de Clermont</h4>
                                </a>
                                 <div class="footer">
                                    <div class="author">
                                        <a class="card-link" href="#">
                                    </div>
                                     <div class="stats pull-right">
                                         </a>
                                    </div>
                                    <div class="stats pull-right">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end card -->
                    </div>

                    <div class="col-md-4">
                        <div class="card card-plain">
                            <div class="image">
                                <img src="http://romanes11.free.fr/FR-Issoire-Saint_Austremoine-4680-0015.jpg" alt="Saint Austremoine d'Issoire">
                                <div class="filter">
                                    <button type="button" class="btn btn-neutral btn-simple">
                                        <a href="/Issoire/"><i class="fa fa-align-left"></i>Voir l'album</a>
                                    </button>
                                </div>
                            </div>
                            <div class="content">
                                <p class="category text-info">
                                </p>
                                <a class="card-link" href="#">
                                    <h4 class="title">Saint Austremoine d'Issoire</h4>
                                </a>
                                <div class="footer">
                                    <div class="author">
                                        <a class="card-link" href="#">
                                    </div>
                                    <div class="stats pull-right">
                                        </a>
                                    </div>
                                    <div class="stats pull-right">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end card -->
                    </div>

                    <div class="col-md-4">
                        <div class="card card-plain">
                            <div class="image">
                                <img src="http://romanes11.free.fr/FR-Orcival-Notre_Dame-4712-0005.jpg" alt="Notre Dame d'Orcival">
                                <div class="filter">
                                    <button type="button" class="btn btn-neutral btn-simple">
                                        <a href="/Orcival/"><i class="fa fa-align-left"></i>Voir l'album</a>
                                    </button>
                                </div>
                            </div>
                            <div class="content">
                                <p class="category text-info">
                                </p>
                                <a class="card-link" href="#">
                                    <h4 class="title">Notre Dame d'Orcival</h4>
                                </a>
                                <div class="footer">
                                    <div class="author">
                                        <a class="card-link" href="#">
                                    </div>
                                    <div class="stats pull-right">
                                        </a>
                                    </div>
                                    <div class="stats pull-right">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end card -->
                    </div>
    </div>

        <div class="row">

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes11.free.fr/FR-Saint_Nectaire-Notre_Dame-4702-0026.jpg" alt="Notre Dame de Saint Nectaire">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Saint_Nectaire/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">Notre Dame de Saint Nectaire</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes11.free.fr/FR-Saint_Saturnin-Notre_Dame-4699-0005.jpg" alt="Notre Dame de Saint Saturnin">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Saint_Saturnin/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">Notre Dame de Saint Saturnin</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes11.free.fr/FR-Brioude-Saint_Julien-4696-0014.jpg" alt="Saint Julien de Brioude">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Brioude/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">Saint Julien de Brioude</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

</div>

