<!-- RIGHTtable -->
<div class="divboxtext" style="border: 1px solid steelblue;padding: 2px; margin-left: 8px;margin-top: 10px;">

               <table><tbody><tr>

	   <tr><td colspan="6" ><p style="font-family: Georgia,Times New Roman,Times,Times NR,Palatino,serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 20px; line-height: normal; font-size-adjust: none; font-stretch: normal;color: #97B8E5;margin-bottom: 5px; margin-top: 5px;">&nbsp;&nbsp;Romanesque Auvergne</p></td></tr>

	   <tr><td colspan="6" >&nbsp;&nbsp;The Romanesque Auvergne is characterized by quick buildings construction of high magnitude, and a very elaborate statuary plastic around historical themes.<br/><br/></td></tr>
	   <tr>
		    <td width="107" height="84" valign="middle" align="center"><a href="/Clermont/ND_Port/"><img src="/media//thumb/thb-FR-Clermont-ND_Port-4685-0015.jpg" alt="Notre Dame du Port de Clermont" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Notre Dame du Port de Clermont</b></font><br/>XIIth century<br/><br/><a href="/Clermont/ND_Port/">See album >></a></p><p></p></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Issoire/"><img src="/media/thumb/thb-FR-Issoire-Saint_Austremoine-4680-0015.jpg" alt="Saint Austremoine d'Issoire" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Saint Austremoine d'Issoire</b></font><br/>XIIth century<br/><br/><a href="/Issoire/">See album >></a></td>
	</tr><tr>
	
		    <td width="107" height="84" valign="middle" align="center" ><a href="/Orcival/"><img src="/media/thumb/thb-FR-Orcival-Notre_Dame-4712-0005.jpg" alt="Notre Dame d'Orcival" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Notre Dame d'Orcival</b></font><br/>XIIth century<br/><br/><a href="/Orcival/">See album >></a></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Saint_Nectaire"><img src="/media/thumb/thb-FR-Saint_Nectaire-Notre_Dame-4702-0026.jpg" alt="Notre Dame de Saint Nectaire" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Notre Dame de Saint Nectaire</b></font><br/>XIIth century<br/><br/><a href="/Saint_Nectaire/">See album >></a></td>

	</tr><tr>
                    <td width="107" height="84" valign="middle" align="center" ><a href="/Saint_Saturnin/"><img src="/media/thumb/thb-FR-Saint_Saturnin-Notre_Dame-4699-0005.jpg" alt="Notre Dame de Saint Saturnin" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Notre Dame de Saint Saturnin</b></font><br/>XIth century<br/><br/><a href="/Saint_Saturnin/">See album >></a></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Brioude/"><img src="/media/thumb/thb-FR-Brioude-Saint_Julien-4696-0014.jpg" alt="Saint Julien de Brioude" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Saint Julien de Brioude</b></font><br/>XIth century<br/><br/><a href="/Brioude/">See album >></a></td>

    </tr>


           </tbody></table>
</div>

<br />
<!-- /RIGHTtable -->

