<!-- RIGHTtable -->
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>  <tr><td class="blackbox">

   <table border="0" cellspacing="1" cellpadding="1" width="100%">
       <tbody>
   <tr><td class="boxtext">

   <table cellspacing="0" cellpadding="0" width="100%">
   <tbody>
<tr><td class="boxtext">

               <table><tbody><tr>

	   <tr><td colspan="6" ><p style="font-family: Georgia,Times New Roman,Times,Times NR,Palatino,serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 20px; line-height: normal; font-size-adjust: none; font-stretch: normal;color: #97B8E5;margin-bottom: 5px; margin-top: 5px;">&nbsp;&nbsp;	
Auvernia Románica  </p></td></tr>

	   <tr><td colspan="6" >&nbsp;&nbsp;Auvernia Románica se caracteriza por la rápida construcción de monumentos de gran magnitud, y una escultura de plástico muy elaborada en torno a temas históricos.<br/><br/></td></tr>
	   <tr>
		    <td width="107" height="84" valign="middle" align="center"><a href="/Clermont/ND_Port/"><img src="/media//thumb/thb-FR-Clermont-ND_Port-4685-0015.jpg" alt="Notre Dame du Port de Clermont" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Notre Dame du Port de Clermont</b></font><br/>XII siglo<br/><br/><a href="/Clermont/ND_Port/">Ver álbum  >></a></p><p></p></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Issoire/"><img src="/media/thumb/thb-FR-Issoire-Saint_Austremoine-4680-0015.jpg" alt="Saint Austremoine d'Issoire" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Saint Austremoine d'Issoire</b></font><br/>XII siglo<br/><br/><a href="/Issoire/">Ver álbum  >></a></td>
	</tr><tr>
	
		    <td width="107" height="84" valign="middle" align="center" ><a href="/Orcival/"><img src="/media/thumb/thb-FR-Orcival-Notre_Dame-4712-0005.jpg" alt="Notre Dame d'Orcival" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Notre Dame d'Orcival</b></font><br/>XII siglo<br/><br/><a href="/Orcival/">Ver álbum  >></a></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Saint_Nectaire"><img src="/media/thumb/thb-FR-Saint_Nectaire-Notre_Dame-4702-0026.jpg" alt="Notre Dame de Saint Nectaire" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Notre Dame de Saint Nectaire</b></font><br/>XII siglo<br/><br/><a href="/Saint_Nectaire/">Ver álbum  >></a></td>

	</tr><tr>
                    <td width="107" height="84" valign="middle" align="center" ><a href="/Saint_Saturnin/"><img src="/media/thumb/thb-FR-Saint_Saturnin-Notre_Dame-4699-0005.jpg" alt="Notre Dame de Saint Saturnin" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Notre Dame de Saint Saturnin</b></font><br/>XI siglo<br/><br/><a href="/Saint_Saturnin/">Ver álbum  >></a></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Brioude/"><img src="/media/thumb/thb-FR-Brioude-Saint_Julien-4696-0014.jpg" alt="Saint Julien de Brioude" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Saint Julien de Brioude</b></font><br/>XI siglo<br/><br/><a href="/Brioude/">Ver álbum  >></a></td>

    </tr>


           </tbody></table>
            </tr>
           </tbody></table>
   <br />
   </td></tr>
   </tbody></table>
  </td></tr>
</tbody></table>

<br />
<!-- /RIGHTtable -->

