<div class="container tim-container" style="padding-bottom:10px;padding-top:10px;">
    <div class="row">
        <p>South Burgundy Romanesque including Brionnais Charollais and is characterized by thick buildings on the outside rarely carved, but decorated with carved ears testifying to the resurrection or historical themes.</p>
        </div>

    <div class="section">

        <div class="row">

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="/media/FR-Montceaux_l_Etoile-Saints_Pierre_et_Paul-7313-0035.jpg" alt="Saints Pierre et Paul de Montceaux l'Etoile">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Montceaux_l_Etoile/"><i class="fa fa-align-left"></i>See album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="/Montceaux_l_Etoile/">
                            <h4 class="title">Saints Pierre et Paul de Montceaux l'Etoile</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="/media/FR-Sainte_Trinite-Anzy_le_Duc-IMG_9861.jpg" alt="Sainte-Trinité d'Anzy-le-Duc">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Anzy-le-Duc/"><i class="fa fa-align-left"></i>See album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="/Anzy-le-Duc/">
                            <h4 class="title">Sainte-Trinité d'Anzy-le-Duc</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="/media/FR-Varenne_l_Arconce-Saint_Pierre_aux_Liens-7303-0010.jpg" alt=">Saint-Pierre-aux-Liens de Varenne l'Arconce">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Varenne-l-Arconce/"><i class="fa fa-align-left"></i>See album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="/Varenne-l-Arconce/">
                            <h4 class="title">Saint-Pierre-aux-Liens de Varenne l'Arconce</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="/media/FR-Saint_Julien_de_Jonzy-Saint_Julien-7312-0021.jpg" alt="Saint-Julien-de-Jonzy">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Saint-Julien-de-Jonzy/"><i class="fa fa-align-left"></i>See album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="/Saint-Julien-de-Jonzy/">
                            <h4 class="title">Saint-Julien-de-Jonzy</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="/media/FR-Semur_en_Brionnais-Saint_Hilaire-7302-0025.jpg" alt="Saint Hilaire de Sémur-en-Brionnais">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Semur-en-Brionnais/"><i class="fa fa-align-left"></i>See album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="/Semur-en-Brionnais/">
                            <h4 class="title">Saint Hilaire de Sémur-en-Brionnais</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="/media/FR-Mont_Saint_Vincent-Saint_Vincent-7321-0018.jpg" alt="Saint Vincent de Mont Saint Vincent">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Mont-Saint-Vincent/"><i class="fa fa-align-left"></i>See album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="/Mont-Saint-Vincent/">
                            <h4 class="title">Saint Vincent de Mont Saint Vincent</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

    </div>


