<!-- RIGHTtable -->
<div class="divboxtext" style="border: 0px solid steelblue;padding: 2px; margin-left: 8px;margin-top: 10px;">

               <table><tbody><tr>
	   <tr><td colspan="6" ><p style="font-family: Georgia,Times New Roman,Times,Times NR,Palatino,serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 20px; line-height: normal; font-size-adjust: none; font-stretch: normal;color: #97B8E5;margin-bottom: 5px; margin-top: 5px;">&nbsp;&nbsp;Bourgogne du Sud Romane</p></td></tr>

	   <tr><td colspan="6" >&nbsp;&nbsp;La Bourgogne du Sud romane comprenant le Brionnais et le Charollais se caractérise par des batiments épais à l'extérieur rarement sculpté, mais décorés de tympans sculptés témoignant de la résurection ou de thèmes historiés.<br/></td></tr>
	   <tr>
		    <td width="107" height="84" valign="middle" align="center"><a href="/Montceaux_l_Etoile/"><img src="/media/thumb/thb-FR-Montceaux_l_Etoile-Saints_Pierre_et_Paul-7313-0035.jpg" alt=" Saints Pierre et Paul de Montceaux l'Etoile" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b> Saints Pierre et Paul de Montceaux l'Etoile</b></font><br/>XIè siècle<br/><br/><a href="/Montceaux_l_Etoile/">Voir l'Album >></a></p><p></p></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Anzy-le-Duc/"><img src="/media/thumb/thb-FR-Sainte_Trinite-Anzy_le_Duc-IMG_9861.jpg" alt="Sainte-Trinité d'Anzy-le-Duc" border="0"></a></td>

                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Sainte-Trinité d'Anzy-le-Duc</b></font><br/>XIè siècle<br/><br/><a href="/Anzy-le-Duc/">Voir l'Album >></a></td>
	</tr><tr>
	
		    <td width="107" height="84" valign="middle" align="center" ><a href="/Varenne-l-Arconce/"><img src="/media/thumb/thb-FR-Varenne_l_Arconce-Saint_Pierre_aux_Liens-7303-0010.jpg" alt="Saint-Pierre-aux-Liens de Varenne l'Arconce" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Saint-Pierre-aux-Liens de Varenne l'Arconce</b></font><br/>XIè siècle<br/><br/><a href="/Varenne-l-Arconce/">Voir l'Album >></a></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Saint-Julien-de-Jonzy/"><img src="/media/thumb/thb-FR-Saint_Julien_de_Jonzy-Saint_Julien-7312-0021.jpg" alt="Saint-Julien-de-Jonzy" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Saint-Julien-de-Jonzy</b></font><br/>XIè siècle<br/><br/><a href="/Saint-Julien-de-Jonzy/">Voir l'Album >></a></td>

	</tr><tr>
                    <td width="107" height="84" valign="middle" align="center" ><a href="/Semur-en-Brionnais/"><img src="/media/thumb/thb-FR-Semur_en_Brionnais-Saint_Hilaire-7302-0025.jpg" alt="Saint Hilaire de Sémur-en-Brionnais" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>

                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Saint Hilaire de Sémur-en-Brionnais</b></font><br/>XIè siècle<br/><br/><a href="/Semur-en-Brionnais/">Voir l'Album >></a></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Mont-Saint-Vincent/"><img src="/media/thumb/thb-FR-Mont_Saint_Vincent-Saint_Vincent-7321-0018.jpg" alt="Saint Vincent de Mont Saint Vincent" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Saint Vincent de Mont Saint Vincent</b></font><br/>XIè siècle<br/><br/><a href="/Mont-Saint-Vincent/">Voir l'Album >></a></td>

	</tr>


           </tbody></table>

	   <br />
   </div>
<!-- /RIGHTtable -->
