<div class="container tim-container" style="padding-bottom:10px;padding-top:10px;">
    <div class="row">
        <p>Construites sur un plan basilical, avec tres peu d'ouvertures, les eglises romanes de Corse surprennent d'abord le voyageur qui les juge austeres. Pourtant, bien vite, elles le seduisent, tant elles se marient harmonieusement avec leur ecrin naturel. Les reliefs enigmaniques qui les ornent ajoutent a leur charme un parfum de mystere.</p>
    </div>

    <div class="section">

        <div class="row">

                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="image">
                            <img src="http://romanes4.free.fr/FR-Tallano-San_Giovanni_Battista_Poggio-tz1_2009-05-23-120824_pt.jpg" alt="San Giovanni Battista Poggio di Tallano">
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-align-left"></i> <a href="http://www.romanes.org/Corse/Tallano/index.html">Voir l'album</a>
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category text-info">
                            </p>
                            <a class="card-link" href="http://www.romanes.org/Corse/Tallano/index.html">
                                <h4 class="title">San Giovanni Battista Poggio di Tallano</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="#">
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="image">
                            <img src="http://romanes4.free.fr/FR-Olcani-San_Quilico-tz1_2009-05-25-163207.jpg" alt="San Quilico Olcani">
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-align-left"></i> <a href="http://www.romanes.org/Corse/Olcani/index.html">Voir l'album</a>
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category text-info">
                            </p>
                            <a class="card-link" href="http://www.romanes.org/Corse/Olcani/index.html">
                                <h4 class="title">San Quilico Olcani</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="#">
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="image">
                            <img src="http://romanes4.free.fr/FR-Santa_Maria_Figaniella-Santa_Maria_Figaniella-tz1_2009-05-23-135004_pt.jpg" alt="Santa Maria Figaniella">
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-align-left"></i> <a href="http://www.romanes.org/Corse/Santa-Maria-Figaniella/index.html">Voir l'album</a>
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category text-info">
                            </p>
                            <a class="card-link" href="http://www.romanes.org/Corse/Santa-Maria-Figaniella/index.html">
                                <h4 class="title">Santa Maria Figaniella</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="#">
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
        <div class="row">
                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="image">
                            <img src="http://romanes4.free.fr/FR-Carbini-San_Giovanni_Battista-tz1_2009-05-23-094636_pt.jpg" alt="San Giovanni Battista Carbini">
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-align-left"></i> <a href="http://www.romanes.org/Corse/Carbini/index.html">Voir l'album</a>
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category text-info">
                            </p>
                            <a class="card-link" href="http://www.romanes.org/Corse/Carbini/index.html">
                                <h4 class="title">San Giovanni Battista Carbini</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="#">
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="image">
                            <img src="http://romanes4.free.fr/FR-Saint_Florent-Santa_Maria_Assunta_Nebio-tz1_2009-05-25-145356.jpg" alt="Santa Maria Assunta Nebbio">
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-align-left"></i> <a href="http://www.romanes.org/Corse/Saint-Florent/index.html">Voir l'album</a>
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category text-info">
                            </p>
                            <a class="card-link" href="http://www.romanes.org/Corse/Saint-Florent/index.html">
                                <h4 class="title">Santa Maria Assunta Nebbio</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="#">
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="image">
                            <img src="http://romanes4.free.fr/FR-Aregno-Trinite-tz1_2009-05-17-190947.jpg" alt="Trinite d'Aregno">
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-align-left"></i> <a href="http://www.romanes.org/Corse/Aregno/index.html">Voir l'album</a>
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category text-info">
                            </p>
                            <a class="card-link" href="http://www.romanes.org/Corse/Aregno/index.html">
                                <h4 class="title">Trinite d'Aregno</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="#">
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
