<div class="container tim-container" style="padding-bottom:10px;padding-top:10px;">
    <div class="row">
        <p>uilt on a basilica plan, with very few openings, the Romanesque churches of Corsica surprise first the traveler whojudge them austere. Yet soon, they seduce, as they blend harmoniously with their natural setting. The reliefs which adorn enigmatics add to their charm a hint of mystery.  </p>
    </div>

    <div class="section">

        <div class="row">

                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="image">
                            <img src="/media/FR-Tallano-San_Giovanni_Battista_Poggio-tz1_2009-05-23-120824_pt.jpg" alt="San Giovanni Battista Poggio di Tallano">
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-align-left"></i> <a href="/Corse/Tallano/index.html">Voir l'album</a>
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category text-info">
                            </p>
                            <a class="card-link" href="/Corse/Tallano/index.html">
                                <h4 class="title">San Giovanni Battista Poggio di Tallano</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="/Corse/Tallano/">
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="image">
                            <img src="/media/FR-Olcani-San_Quilico-tz1_2009-05-25-163207.jpg" alt="San Quilico Olcani">
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-align-left"></i> <a href="/Corse/Olcani/index.html">Voir l'album</a>
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category text-info">
                            </p>
                            <a class="card-link" href="/Corse/Olcani/index.html">
                                <h4 class="title">San Quilico Olcani</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="#">
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="image">
                            <img src="/media/FR-Santa_Maria_Figaniella-Santa_Maria_Figaniella-tz1_2009-05-23-135004_pt.jpg" alt="Santa Maria Figaniella">
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-align-left"></i> <a href="/Corse/Santa-Maria-Figaniella/index.html">Voir l'album</a>
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category text-info">
                            </p>
                            <a class="card-link" href="/Corse/Santa-Maria-Figaniella/index.html">
                                <h4 class="title">Santa Maria Figaniella</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="/Corse/Santa-Maria-Figaniella/">
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
        <div class="row">
                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="image">
                            <img src="/media/FR-Carbini-San_Giovanni_Battista-tz1_2009-05-23-094636_pt.jpg" alt="San Giovanni Battista Carbini">
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-align-left"></i> <a href="/Corse/Carbini/index.html">Voir l'album</a>
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category text-info">
                            </p>
                            <a class="card-link" href="/Corse/Carbini/index.html">
                                <h4 class="title">San Giovanni Battista Carbini</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="#">
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="image">
                            <img src="/media/FR-Saint_Florent-Santa_Maria_Assunta_Nebio-tz1_2009-05-25-145356.jpg" alt="Santa Maria Assunta Nebbio">
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-align-left"></i> <a href="/Corse/Saint-Florent/index.html">Voir l'album</a>
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category text-info">
                            </p>
                            <a class="card-link" href="/Corse/Saint-Florent/index.html">
                                <h4 class="title">Santa Maria Assunta Nebbio</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="#">
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="image">
                            <img src="/media/FR-Aregno-Trinite-tz1_2009-05-17-190947.jpg" alt="Trinite d'Aregno">
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-align-left"></i> <a href="/Corse/Aregno/index.html">Voir l'album</a>
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category text-info">
                            </p>
                            <a class="card-link" href="/Corse/Aregno/index.html">
                                <h4 class="title">Trinite d'Aregno</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="#">
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
