<!-- RIGHTtable -->
<div class="divboxtext" style="border: 0px solid steelblue;padding: 2px; margin-left: 8px;margin-top: 10px;">

               <table><tbody><tr>
	   <tr><td colspan="6" ><p style="font-family: Georgia,Times New Roman,Times,Times NR,Palatino,serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 20px; line-height: normal; font-size-adjust: none; font-stretch: normal;color: #97B8E5;margin-bottom: 5px; margin-top: 5px;">&nbsp;&nbsp;Corse</p></td></tr>

	   <tr><td colspan="6" >&nbsp;&nbsp;Construites sur un plan basilical, avec très peu d'ouvertures, les églises romanes de Corse surprennent d'abord le voyageur qui les juge austères. Pourtant, bien vite, elles le séduisent, tant elles se marient harmonieusement avec leur écrin naturel. Les reliefs énigmaniques qui les ornent ajoutent à leur charme un parfum de mystère.</td></tr>
	   <tr>
		    <td width="107" height="84" valign="middle" align="center"><a href="/media/Corse/Tallano/index.html"><img src="http://www.romanes.org/thumb/thb-FR-Tallano-San_Giovanni_Battista_Poggio-tz1_2009-05-23-120824_pt.jpg
" alt="San Giovanni Battista Poggio di Tallano" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>San Giovanni Battista Poggio di Tallano</b></font><br/>XIIè siècle<br/><br/><a href="/media/Corse/Tallano/index.html">Voir l'Album >></a></p><p></p></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/media/Corse/Olcani/index.html"><img src="http://www.romanes.org/thumb/thb-FR-Olcani-San_Quilico-tz1_2009-05-25-163207.jpg" alt="San Quilico Olcani" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>San Quilico Olcani</b></font><br/>XIè siècle<br/><br/><a href="/media/Corse/Olcani/index.html">Voir l'Album >></a></td>
	</tr><tr>
	
		    <td width="107" height="84" valign="middle" align="center" ><a href="/media/Corse/Santa-Maria-Figaniella/index.html"><img src="http://www.romanes.org/thumb/thb-FR-Santa_Maria_Figaniella-Santa_Maria_Figaniella-tz1_2009-05-23-135004_pt.jpg" alt="Santa Maria Figaniella" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Santa Maria Figaniella</b></font><br/>IXè siècle<br/><br/><a href="/media/Corse/Santa-Maria-Figaniella/index.html">Voir l'Album >></a></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/media/Corse/Carbini/index.html"><img src="http://www.romanes.org/thumb/thb-FR-Carbini-San_Giovanni_Battista-tz1_2009-05-23-094636_pt.jpg" alt="San Giovanni Battista Carbini" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>San Giovanni Battista Carbini</b></font><br/>XIIè siècle<br/><br/><a href="/media/Corse/Carbini/index.html">Voir l'Album >></a></td>

	</tr><tr>
                    <td width="107" height="84" valign="middle" align="center" ><a href="/media/Corse/Saint-Florent/index.html"><img src="http://www.romanes.org/thumb/thb-FR-Saint_Florent-Santa_Maria_Assunta_Nebio-tz1_2009-05-25-145356.jpg" alt="Santa Maria Assunta Nebbio" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>

                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Santa Maria Assunta Nebbio</b></font><br/>Xè siècle<br/><br/><a href="/media/Corse/Saint-Florent/index.html">Voir l'Album >></a></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/media/Corse/Aregno/index.html"><img src="http://www.romanes.org/thumb/thb-FR-Aregno-Trinite-tz1_2009-05-17-190947.jpg" alt="Trinité d'Aregno" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Trinité d'Aregno</b></font><br/>XIIè siècle<br/><br/><a href="/media/Corse/Aregno/index.html">Voir l'Album >></a></td>

	</tr>


           </tbody></table>
	   <br />
   </div>
<!-- /RIGHTtable -->
