<!-- RIGHTtable -->
<div class="divboxtext" style="border: 0px solid steelblue;padding: 2px; margin-left: 8px;margin-top: 10px;">

               <table><tbody><tr>
	   <tr><td colspan="6" ><p style="font-family: Georgia,Times New Roman,Times,Times NR,Palatino,serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 20px; line-height: normal; font-size-adjust: none; font-stretch: normal;color: #97B8E5;margin-bottom: 5px; margin-top: 5px;">&nbsp;&nbsp;Ile de France</p></td></tr>

	   <tr><td colspan="6" >&nbsp;&nbsp;L'Ile de France se caractérise par l'émergence et l'apogée de l'art gothique, malgré cela l'Art roman se développe aussi et donnera les oeuvres les plus abouties dont le portail de Chartres est un exemple. </td></tr>
	   <tr>
		    <td width="107" height="84" valign="middle" align="center"><a href="/Chartres/"><img src="http://www.romanes.org/thumb/thb-ND_de_Chartres_927-249-0007.jpg" alt="Portail de Chartres" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Notre Dame de Chartres</b></font><br/>XIIè siècle<br/><br/><a href="/Chartres/">Voir l'Album >></a></p><p></p></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Morienval/"><img src="http://www.romanes.org/thumb/thb-FR-Morienval-Notre_Dame-3214-0004.jpg" alt=" Notre Dame de Morienval" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Notre Dame de Morienval</b></font><br/>XIIè siècle<br/><br/><a href="/Morienval/">Voir l'Album >></a></td>
	</tr><tr>
	
		    <td width="107" height="84" valign="middle" align="center" ><a href="/Royaumont/"><img src="http://www.romanes.org/thumb/thb-FR-Asniere-Abbaye_de_Royaumont-6718-0004.jpg" alt="Abbaye de Royaumont" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Abbaye de Royaumont</b></font><br/>XIIè siècle<br/><br/><a href="/Royaumont/">Voir l'Album >></a></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Etampes/Notre_Dame_du_Fort"><img src="http://www.romanes.org/thumb/thb-FR-Etampes-Notre_Dame_du_Fort-3413-0009.jpg" alt="Notre Dame du Fort d'Etampes" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Notre Dame du Fort d'Etampes</b></font><br/>XIè siècle<br/><br/><a href="/Etampes/Notre_Dame_du_Fort/">Voir l'Album >></a></td>

	</tr><tr>
                    <td width="107" height="84" valign="middle" align="center" ><a href="/Le_val/"><img src="http://www.romanes.org/thumb/thb-FR_Meriel-Le_Val-3211-0012.jpg" alt="Abbaye du Val" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>

                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Abbaye du Val</b></font><br/>XIIè siècle<br/><br/><a href="/Le_val/">Voir l'Album >></a></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Vaux_de_Cernay/"><img src="http://www.romanes.org/thumb/thb-FR-Vaux_de_Cernay-Notre_Dame-2509-0025.jpg" alt="Abbaye Notre Dame des Vaulx de Cernay" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Abbaye Notre Dame des Vaulx de Cernay</b></font><br/>XIIè siècle<br/><br/><a href="/Vaux_de_Cernay/">Voir l'Album >></a></td>

	</tr>


           </tbody></table>

	   <br />
   </div>
<!-- /RIGHTtable -->
