<div class="container tim-container" style="padding-bottom:10px;padding-top:10px;">
    <div class="row">
        <p>L'Ile de France se caractérise par l'émergence et l'apogée de l'art gothique, malgré cela l'Art roman se développe aussi et donnera les oeuvres les plus abouties dont le portail de Chartres est un exemple.</p>
    </div>

    <div class="section">

        <div class="row">

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes11.free.fr/ND_de_Chartres_927-249-0007.jpg" alt="Notre Dame de Chartres">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Chartres/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">Notre Dame de Chartres</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes11.free.fr/FR-Morienval-Notre_Dame-3214-0004.jpg" alt="Notre Dame de Morienval">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Morienval/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">Notre Dame de Morienval</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes11.free.fr/FR-Asniere-Abbaye_de_Royaumont-6718-0004.jpg" alt="Abbaye de Royaumont">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Royaumont/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">Abbaye de Royaumont</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes11.free.fr/FR-Etampes-Notre_Dame_du_Fort-3413-0009.jpg" alt="Notre Dame du Fort d'Etampes">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Etampes/Notre_Dame_du_Fort/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">Notre Dame du Fort d'Etampes</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes11.free.fr/FR_Meriel-Le_Val-3211-0012.jpg" alt="Abbaye du Val">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Le_val/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">Abbaye du Val</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes11.free.fr/FR-Vaux_de_Cernay-Notre_Dame-2509-0025.jpg" alt="Abbaye Notre Dame des Vaulx de Cernay">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Vaux_de_Cernay/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">>Abbaye Notre Dame des Vaulx de Cernay</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

    </div>


