<div class="container tim-container" style="padding-bottom:10px;padding-top:10px;">
    <div class="row">
	<p>La Isla de Francia se caracteriza por la emergencia y el apogeo del arte gótico, a pesar de que el arte románico también se desarrolla y dará las obras más logradas de las cuales la puerta de Chartres es un ejemplo.</p>
    </div>

    <div class="section">

        <div class="row">

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="/media/ND_de_Chartres_927-249-0007.jpg" alt="Notre Dame de Chartres">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Chartres/"><i class="fa fa-align-left"></i>Descubrir</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="/Chartres/">
                            <h4 class="title">Notre Dame de Chartres</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="/media/FR-Morienval-Notre_Dame-3214-0004.jpg" alt="Notre Dame de Morienval">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Morienval/"><i class="fa fa-align-left"></i>Descubrir</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="/Morienval/">
                            <h4 class="title">Notre Dame de Morienval</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="/media/FR-Asniere-Abbaye_de_Royaumont-6718-0004.jpg" alt="Abbaye de Royaumont">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Royaumont/"><i class="fa fa-align-left"></i>Descubrir</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="/Royaumont/">
                            <h4 class="title">Abbaye de Royaumont</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="/media/FR-Etampes-Notre_Dame_du_Fort-3413-0009.jpg" alt="Notre Dame du Fort d'Etampes">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Etampes/Notre_Dame_du_Fort/"><i class="fa fa-align-left"></i>Descubrir</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="/Etampes/Notre_Dame_du_Fort/">
                            <h4 class="title">Notre Dame du Fort d'Etampes</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="/media/FR_Meriel-Le_Val-3211-0012.jpg" alt="Abbaye du Val">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Le_val/"><i class="fa fa-align-left"></i>Descubrir</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="/Le_val/">
                            <h4 class="title">Abbaye du Val</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="/media/FR-Vaux_de_Cernay-Notre_Dame-2509-0025.jpg" alt="Abbaye Notre Dame des Vaulx de Cernay">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Vaux_de_Cernay/"><i class="fa fa-align-left"></i>Descubrir</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="/Vaux_de_Cernay/">
                            <h4 class="title">Abbaye Notre Dame des Vaulx de Cernay</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

    </div>


