<!-- RIGHTtable -->
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>  <tr><td class="blackbox">

   <table border="0" cellspacing="1" cellpadding="1" width="100%">
	   <tbody>   
   <tr><td class="boxtext">

   <table cellspacing="0" cellpadding="0" width="100%">
   <tbody>
<tr><td class="boxtext">

               <table><tbody><tr>
	   <tr><td colspan="6" ><p style="font-family: Georgia,Times New Roman,Times,Times NR,Palatino,serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 20px; line-height: normal; font-size-adjust: none; font-stretch: normal;color: #97B8E5;margin-bottom: 5px; margin-top: 5px;">&nbsp;&nbsp;
	   Ile de France</p></td></tr>

	   <tr><td colspan="6" >&nbsp;&nbsp;The romanesque Ile de France is characterized by the emergence and the height of Gothic, despite this Romanesque art is also being developed and will present the most successful works whose portal of Chartres is an example.</td></tr>
	   <tr>
		    <td width="107" height="84" valign="middle" align="center"><a href="/Chartres/"><img src="/media/thumb/thb-ND_de_Chartres_927-249-0007.jpg" alt="Portail de Chartres" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Notre Dame de Chartres</b></font><br/>XIIth century<br/><br/><a href="/Chartres/">View Album >></a></p><p></p></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Morienval/"><img src="/media/thumb/thb-FR-Morienval-Notre_Dame-3214-0004.jpg" alt=" Notre Dame de Morienval" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Notre Dame de Morienval</b></font><br/>XIIth century<br/><br/><a href="/Morienval/">View Album >></a></td>
	</tr><tr>
	
		    <td width="107" height="84" valign="middle" align="center" ><a href="/Royaumont/"><img src="/media/thumb/thb-FR-Asniere-Abbaye_de_Royaumont-6718-0004.jpg" alt="Abbaye de Royaumont" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Abbaye de Royaumont</b></font><br/>XIIth century<br/><br/><a href="/Royaumont/">View Album >></a></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Etampes/Notre_Dame_du_Fort"><img src="/media/thumb/thb-FR-Etampes-Notre_Dame_du_Fort-3413-0009.jpg" alt="Notre Dame du Fort d'Etampes" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Notre Dame du Fort d'Etampes</b></font><br/>XIth century<br/><br/><a href="/Etampes/Notre_Dame_du_Fort/">View Album >></a></td>

	</tr><tr>
                    <td width="107" height="84" valign="middle" align="center" ><a href="/Le_val/"><img src="/media/thumb/thb-FR_Meriel-Le_Val-3211-0012.jpg" alt="Abbaye du Val" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>

                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Abbaye du Val</b></font><br/>XIIth century<br/><br/><a href="/Le_val/">View Album >></a></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Vaux_de_Cernay/"><img src="/media/thumb/thb-FR-Vaux_de_Cernay-Notre_Dame-2509-0025.jpg" alt="Abbaye Notre Dame des Vaulx de Cernay" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Abbaye Notre Dame des Vaulx de Cernay</b></font><br/>XIIth century<br/><br/><a href="/Vaux_de_Cernay/">View Album >></a></td>

	</tr>


           </tbody></table>
			</tr>
           </tbody></table>
   <br />
   </td></tr>
   </tbody></table>
  </td></tr>
</tbody></table>

<br />
<!-- /RIGHTtable -->
