<div class="container tim-container" style="padding-bottom:10px;padding-top:10px;">
    <div class="row">
        <p>Le Berry roman se caractérise par des façades composées le plus souvent autour d'un portail unique, un pignon triangulaire,  des arcatures aveugles sur la façade, des " passages berrichons " permettant un accès de la nef unique vers le transept, des chapiteaux végétaux ou historiés et le décor peint dans de vastes cycles comme à Brinay et à Vicq.


        </p>
    </div>

    <div class="section">

        <div class="row">

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes11.free.fr/FR-Plaimpied_Givaudins-Saint_Martin-4240-0026.jpg" alt="Saint Martin de Plaimpied-Givaudins">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Plaimpied-Givaudins/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">Saint Martin de Plaimpied-Givaudins</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes11.free.fr/FR-Blet-Saint_Germain-4235-0005.jpg" alt="Saint Germain de Blet">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Blet/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">Saint Germain de Blet</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes11.free.fr/FR-Jussy_Champagne-Saint_Andre-4235-0036.jpg" alt="Saint André de Jussy-Champagne">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Jussy-Champagne/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">Saint André de Jussy-Champagne</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes11.free.fr/FR-Avord-Saint_Hugues-4243-0008.jpg" alt="Saint Hugues d'Avord">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Avord/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">Saint Hugues d'Avord</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes11.free.fr/FR-Dun_sur_Auron-Saint_Etienne-4244-0001.jpg" alt="Saint Etienne de Dun sur Auron">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Dun-sur-Auron/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">Saint Etienne de Dun sur Auron</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes11.free.fr/FR-Bourges-Saint_Etienne-4639-0002.jpg" alt="Cathédrale Saint Etienne de Bourges">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href=/Bourges/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">Cathédrale Saint Etienne de Bourges</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

    </div>