<!-- RIGHTtable -->
<div class="divboxtext" style="border: 1px solid steelblue;padding: 2px; margin-left: 8px;margin-top: 10px;">


               <table><tbody><tr>
	   <tr><td colspan="6" ><p style="font-family: Georgia,Times New Roman,Times,Times NR,Palatino,serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 20px; line-height: normal; font-size-adjust: none; font-stretch: normal;color: #97B8E5;margin-bottom: 5px; margin-top: 5px;">&nbsp;&nbsp;Romanesque Berry</p></td></tr>

	   <tr><td colspan="6" >&nbsp;&nbsp; Berry features fronts made mostly around a single portal, a triangular gable, blind arches on the facade, and "passages berrichons" allowing access from the single nave to the transept, capitals plants or with thematics  and painted in large cycles as to Brinay and Vicq.  <br/></td></tr>
	   <tr>
		    <td width="107" height="84" valign="middle" align="center"><a href="/Plaimpied-Givaudins//index_en.html"><img src="/media/thumb/thb-FR-Plaimpied_Givaudins-Saint_Martin-4240-0026.jpg" alt="Saint Martin de Plaimpied-Givaudins" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Saint Martin de Plaimpied-Givaudins</b></font><br/>XIth century<br/><br/><a href="/Plaimpied-Givaudins/index_en.html">See album >></a></p><p></p></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Blet/index_en.html"><img src="/media/thumb/thb-FR-Blet-Saint_Germain-4235-0005.jpg" alt="Saint Germain de Blet" border="0"></a></td>

                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Saint Germain de Blet</b></font><br/>XIIth century<br/><br/><a href="/Blet/index_en.html">See album >></a></td>
	</tr><tr>
	
		    <td width="107" height="84" valign="middle" align="center" ><a href="/Jussy-Champagne/index_en.html"><img src="/media/thumb/thb-FR-Jussy_Champagne-Saint_Andre-4235-0036.jpg" alt="Saint André de Jussy-Champagne" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Saint André de Jussy-Champagne</b></font><br/>XIIth century<br/><br/><a href="/Jussy-Champagne/index_en.html">See album >></a></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Avord/index_en.html"><img src="/media/thumb/thb-FR-Avord-Saint_Hugues-4243-0008.jpg" alt="Saint Hugues d'Avord" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Saint Hugues d'Avord</b></font><br/>XIIth century<br/><br/><a href="/Avord/index_en.html">See album >></a></td>

	</tr><tr>
                    <td width="107" height="84" valign="middle" align="center" ><a href="/Dun-sur-Auron//index_en.html"><img src="/media/thumb/thb-FR-Dun_sur_Auron-Saint_Etienne-4244-0001.jpg" alt="Saint Etienne de Dun sur Auron" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>

                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Saint Etienne de Dun sur Auron</b></font><br/>XIIth century<br/><br/><a href="/Dun-sur-Auron//index_en.html">See album >></a></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Bourges/index_en.html"><img src="/media/thumb/thb-FR-Bourges-Saint_Etienne-4639-0002.jpg" alt="Cathédrale Saint Etienne de Bourges" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b> Cathédrale Saint Etienne de Bourges</b></font><br/>XIIth century<br/><br/><a href="/Bourges/index_en.html">See album >></a></td>

	</tr>


           </tbody></table>

	   <br />
   </div>
<!-- /RIGHTtable -->
