<div class="container tim-container" style="padding-bottom:10px;padding-top:10px;">
    <div class="row">
        <p>Le Poitou-Charentes et la Vendée se caractérisent par son architecture et sa sculpture, qui rayonnera au delà de ses frontières. Les façades sont généralement sculptées, comme Notre-Dame-la-Grande, Civray, Angoulême, ses thèmes sont historiés, ou fantastiques comme Aulnay, Chauvigny.</p>
</div>

<div class="section">

    <div class="row">

        <div class="col-md-4">
            <div class="card card-plain">
                <div class="image">
                    <img src="/media/ND_La_Grande_Saintes002.jpg" alt="Notre Dame la Grande de Poitiers">
                    <div class="filter">
                        <button type="button" class="btn btn-neutral btn-simple">
                            <a href="/Poitiers/"><i class="fa fa-align-left"></i>Voir l'album</a>
                        </button>
                    </div>
                </div>
                <div class="content">
                    <p class="category text-info">
                    </p>
                    <a class="card-link" href="/Poitiers/">
                        <h4 class="title">Notre Dame la Grande de Poitiers</h4>
                    </a>
                    <div class="footer">
                        <div class="author">
                            <a class="card-link" href="#">
                        </div>
                        <div class="stats pull-right">
                            </a>
                        </div>
                        <div class="stats pull-right">
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- end card -->
        </div>

        <div class="col-md-4">
            <div class="card card-plain">
                <div class="image">
                    <img src="/media/St_Pierre_Aulnay_Saintonge_4046-0013.jpg" alt="Aulnay de Saintonge">
                    <div class="filter">
                        <button type="button" class="btn btn-neutral btn-simple">
                            <a href="/Aulnay/"><i class="fa fa-align-left"></i>Voir l'album</a>
                        </button>
                    </div>
                </div>
                <div class="content">
                    <p class="category text-info">
                    </p>
                    <a class="card-link" href="/Aulnay">
                        <h4 class="title">Aulnay de Saintonge</h4>
                    </a>
                    <div class="footer">
                        <div class="author">
                            <a class="card-link" href="#">
                        </div>
                        <div class="stats pull-right">
                            </a>
                        </div>
                        <div class="stats pull-right">
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- end card -->
        </div>

        <div class="col-md-4">
            <div class="card card-plain">
                <div class="image">
                    <img src="/media/FR-Angouleme-Saint_Pierre-4859-0007.jpg" alt="Cathédrale Saint Pierre d'Angoulême">
                    <div class="filter">
                        <button type="button" class="btn btn-neutral btn-simple">
                            <a href="/Angouleme/"><i class="fa fa-align-left"></i>Voir l'album</a>
                        </button>
                    </div>
                </div>
                <div class="content">
                    <p class="category text-info">
                    </p>
                    <a class="card-link" href="/Angouleme/">
                        <h4 class="title">Cathédrale Saint Pierre d'Angoulême</h4>
                    </a>
                    <div class="footer">
                        <div class="author">
                            <a class="card-link" href="#">
                        </div>
                        <div class="stats pull-right">
                            </a>
                        </div>
                        <div class="stats pull-right">
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- end card -->
        </div>
    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="card card-plain">
                <div class="image">
                    <img src="/media/FR-Saint_Jouin_de_Marnes-Saint_Jean-4405-0025.jpg" alt="Saint Jouin de Marnes">
                    <div class="filter">
                        <button type="button" class="btn btn-neutral btn-simple">
                            <a href="/Saint_Jouin_de_Marnes/"><i class="fa fa-align-left"></i>Voir l'album</a>
                        </button>
                    </div>
                </div>
                <div class="content">
                    <p class="category text-info">
                    </p>
                    <a class="card-link" href="/Saint_Jouin_de_Marnes/">
                        <h4 class="title">Saint Jouin de Marnes</h4>
                    </a>
                    <div class="footer">
                        <div class="author">
                            <a class="card-link" href="#">
                        </div>
                        <div class="stats pull-right">
                            </a>
                        </div>
                        <div class="stats pull-right">
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- end card -->
        </div>

        <div class="col-md-4">
            <div class="card card-plain">
                <div class="image">
                    <img src="/media/FR-Chauvigny-Saint_Pierre-311543-0003.jpg" alt="Saint Pierre de Chauvigny">
                    <div class="filter">
                        <button type="button" class="btn btn-neutral btn-simple">
                            <a href="/Chauvigny/"><i class="fa fa-align-left"></i>Voir l'album</a>
                        </button>
                    </div>
                </div>
                <div class="content">
                    <p class="category text-info">
                    </p>
                    <a class="card-link" href="/Chauvigny/">
                        <h4 class="title">Saint Pierre de Chauvigny</h4>
                    </a>
                    <div class="footer">
                        <div class="author">
                            <a class="card-link" href="#">
                        </div>
                        <div class="stats pull-right">
                            </a>
                        </div>
                        <div class="stats pull-right">
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- end card -->
        </div>

        <div class="col-md-4">
            <div class="card card-plain">
                <div class="image">
                    <img src="/media/FR-Saintes-Notre_Dame-4068-0015.jpg" alt="Abbaye aux Dames de Saintes">
                    <div class="filter">
                        <button type="button" class="btn btn-neutral btn-simple">
                            <a href="/Saintes/"><i class="fa fa-align-left"></i>Voir l'album</a>
                        </button>
                    </div>
                </div>
                <div class="content">
                    <p class="category text-info">
                    </p>
                    <a class="card-link" href="/Saintes/">
                        <h4 class="title">Abbaye aux Dames de Saintes</h4>
                    </a>
                    <div class="footer">
                        <div class="author">
                            <a class="card-link" href="#">
                        </div>
                        <div class="stats pull-right">
                            </a>
                        </div>
                        <div class="stats pull-right">
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- end card -->
        </div>
    </div>

</div>
