<!-- RIGHTtable -->
<div class="divboxtext" style="border: 0px solid steelblue;padding: 2px; margin-left: 8px;margin-top: 10px;">

               <table><tbody><tr>
	   <tr><td colspan="6" ><p style="font-family: Georgia,Times New Roman,Times,Times NR,Palatino,serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 20px; line-height: normal; font-size-adjust: none; font-stretch: normal;color: #97B8E5;margin-bottom: 5px; margin-top: 5px;">&nbsp;&nbsp;Poitou-Charentes Vendée</p></td></tr>

	   <tr><td colspan="6" >&nbsp;&nbsp;Le Poitou-Charentes et la Vendée se caractérisent par son architecture et sa sculpture, qui rayonnera au delà de ses frontières. Les façades sont généralement sculptées, comme Notre-Dame-la-Grande, Civray, Angoulême, ses thèmes sont historiés, ou fantastiques comme Aulnay, Chauvigny.</td></tr>
	   <tr>
		    <td width="107" height="84" valign="middle" align="center"><a href="/Poitiers/"><img src="/media//thumb/thb-ND_La_Grande_Saintes002.jpg" alt="Notre Dame la Grande de Poitiers" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Notre Dame la Grande de Poitiers</b></font><br/>XIIè siècle<br/><br/><a href="/Poitiers/">Voir l'Album >></a></p><p></p></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Aulnay/"><img src="/media//thumb/thb-St_Pierre_Aulnay_Saintonge_4046-0013.jpg" alt="Aulnay de Saintonge" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Aulnay de Saintonge</b></font><br/>XIIè siècle<br/><br/><a href="/Aulnay/">Voir l'Album >></a></td>
	</tr><tr>
	
		    <td width="107" height="84" valign="middle" align="center" ><a href="/Angouleme/"><img src="/media//thumb/thb-FR-Angouleme-Saint_Pierre-4859-0007.jpg" alt="Cathédrale Saint Pierre d'Angoulême" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Cathédrale Saint Pierre d'Angoulême</b></font><br/>XIIè siècle<br/><br/><a href="/Angouleme/">Voir l'Album >></a></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Saint_Jouin_de_Marnes/"><img src="/media//thumb/thb-FR-Saint_Jouin_de_Marnes-Saint_Jean-4405-0025.jpg" alt="Saint Jouin de Marnes" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Saint Jouin de Marnes</b></font><br/>XIè siècle<br/><br/><a href="/Saint_Jouin_de_Marnes/">Voir l'Album >></a></td>

	</tr><tr>
                    <td width="107" height="84" valign="middle" align="center" ><a href="/Chauvigny/"><img src="/media/thumb/thb-FR-Chauvigny-Saint_Pierre-311543-0003.jpg" alt="Saint Pierre de Chauvigny" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>

                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Saint Pierre de Chauvigny</b></font><br/>XIIè siècle<br/><br/><a href="/Chauvigny/">Voir l'Album >></a></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Saintes/"><img src="/media//thumb/thb-FR-Saintes-Notre_Dame-4068-0015.jpg" alt="Abbaye aux Dames de Saintes" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Abbaye aux Dames de Saintes</b></font><br/>XIIè siècle<br/><br/><a href="/Saintes/">Voir l'Album >></a></td>

	</tr>


           </tbody></table>

	   <br />
   </div>
<!-- /RIGHTtable -->
