<div class="container tim-container" style="padding-bottom:10px;padding-top:10px;">
    <div class="row">
        <p>La Provence se caractérise par la présence des modèles antiques comme à Arles, Saint-Gilles, mais aussi par ses influences lombardes comme le montrent les campaniles ou les portails.</p>
    </div>

    <div class="section">

        <div class="row">

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes11.free.fr/Arles-StTrophime-Facade-7621-0008.1.jpg" alt="Saint Trophime d'Arles">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Arles/StTrophime/Facade/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">Saint Trophime d'Arles</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes11.free.fr/Abbaye_de_Ganagobie-2644-0033.jpg" alt="Notre Dame de Ganagobie">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Ganagobie/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">Notre Dame de Ganagobie</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes11.free.fr/FR-Lerins-Notre_Dame-5318-0024.jpg" alt="Abbaye Notre Dame de Lerins">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Lerins/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">Abbaye Notre Dame de Lerins</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes3.free.fr/Abbaye_de_Montmajour-7638-0006.jpg" alt="Abbaye Notre Dame de Montmajour">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Montmajour/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">Abbaye Notre Dame de Montmajour</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes11.free.fr/FR_Saint_Leonce_Frejus2775-0006.jpg" alt="Saint Léonce de Fréjus">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Frejus/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">Saint Léonce de Fréjus</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="image">
                        <img src="http://romanes11.free.fr/FR-Thoronet-Notre_Dame-7613-0009_pt.jpg" alt="Abbaye du Thoronet">
                        <div class="filter">
                            <button type="button" class="btn btn-neutral btn-simple">
                                <a href="/Thoronet/"><i class="fa fa-align-left"></i>Voir l'album</a>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="category text-info">
                        </p>
                        <a class="card-link" href="#">
                            <h4 class="title">Abbaye du Thoronet</h4>
                        </a>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link" href="#">
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                            <div class="stats pull-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

    </div>

