<!-- RIGHTtable -->
<div class="divboxtext" style="border: 0px solid steelblue;padding: 2px; margin-left: 8px;margin-top: 10px;">

               <table><tbody><tr>
	   <tr><td colspan="6" ><p style="font-family: Georgia,Times New Roman,Times,Times NR,Palatino,serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 20px; line-height: normal; font-size-adjust: none; font-stretch: normal;color: #97B8E5;margin-bottom: 5px; margin-top: 5px;">&nbsp;&nbsp;Provence</p></td></tr>

	   <tr><td colspan="6" >&nbsp;&nbsp;La Provence se caractérise par la présence des modèles antiques comme à Arles, Saint-Gilles, mais aussi par ses influences lombardes comme le montrent les campaniles ou les portails.</td></tr>
	   <tr>
		    <td width="107" height="84" valign="middle" align="center"><a href="/Arles/StTrophime/Facade/"><img src="/media/thumb/thb-Arles-StTrophime-Facade-7621-0008.1.jpg" alt="Eglise StTrophime d'Arles" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Saint Trophime d'Arles</b></font><br/>XIIè siècle<br/><br/><a href="/Arles/StTrophime/Facade/">Voir l'Album >></a></p><p></p></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Ganagobie/"><img src="/media/thumb/thb-Abbaye_de_Ganagobie-2644-0033.jpg" alt="Notre Dame de Ganagobie" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Notre Dame de Ganagobie</b></font><br/>XIIè siècle<br/><br/><a href="/Ganagobie/">Voir l'Album >></a></td>
	</tr><tr>
	
		    <td width="107" height="84" valign="middle" align="center" ><a href="/Lerins/"><img src="/media/thumb/thb-FR-Lerins-Notre_Dame-5318-0024.jpg" alt="Abbaye Notre Dame de Lerins" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Abbaye Notre Dame de Lerins</b></font><br/>XIIè siècle<br/><br/><a href="/Lerins/">Voir l'Album >></a></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Montmajour/"><img src="/media/thumb/thb-Abbaye_de_Montmajour-7638-0006.jpg" alt="Abbaye Notre Dame de Montmajour" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Abbaye Notre Dame de Montmajour</b></font><br/>XIè siècle<br/><br/><a href="/Montmajour/">Voir l'Album >></a></td>

	</tr><tr>
                    <td width="107" height="84" valign="middle" align="center" ><a href="/Frejus/"><img src="/media/thumb/thb-FR_Saint_Leonce_Frejus2775-0006.jpg" alt="Saint Léonce de Fréjus" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>

                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Saint Léonce de Fréjus</b></font><br/>XIIè siècle<br/><br/><a href="/Frejus/">Voir l'Album >></a></td>

		    <td width="107" height="84" valign="middle" align="center" ><a href="/Thoronet/"><img src="/media/thumb/thb-FR-Thoronet-Notre_Dame-7613-0009_pt.jpg" alt="Abbaye du Thoronet" border="0"></a></td>
                    <td width="5" height="82">&nbsp;</td>
                    <td width="300" class="divboxtext" height="84" valign="middle" align="left"><br/><b>Abbaye du Thoronet</b></font><br/>XIIè siècle<br/><br/><a href="/Thoronet/">Voir l'Album >></a></td>

	</tr>


           </tbody></table>

	   <br />
   </div>
<!-- /RIGHTtable -->
