@media only screen and (max-width: 640px){
.navbar-transparent .page-title-container { display: none; !important }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation: portrait){
.page-title-container { display: none; }
}

@media (max-width: 767px) {.navbar-transparent {padding-top: 0px;}}

body > .navbar-collapse .navbar-nav > li > a,
body > .navbar-collapse .navbar-nav > li > a:focus,
body > .navbar-collapse .navbar-nav > li > a:hover,
body > .navbar-collapse .navbar-nav .open .dropdown-menu > li > a,
body > .navbar-collapse .navbar-nav .open .dropdown-menu > li > a:hover,
body > .navbar-collapse .navbar-nav .open .dropdown-menu > li > a:focus {
  opacity: 1; /* modified here*/
  background: transparent;
}

.teaser-tall .teaser-bg {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  transition: all .4s ease-out;
  background-position: 50% 50%;
  background-size: cover;
}
.teaser-tall .teaser-img {
  position: relative;
  z-index: 10;
  padding: 80px 40px 40px;
  text-align: center;
  color: white;
  background-color: #1a272d;
}
.teaser-tall {
  display: block;
  position: relative;
  width: 100%;
  height: 384px;
  overflow: hidden;
  font-family: "pt-sans-narrow","Trebuchet MS",sans-serif;
  text-decoration: none;
  color: #1a272d;
  background-color: #FFF;
}
.btn-hollow {
  display: inline-block;
  vertical-align: middle;
  min-width: 110px;
  border: solid 1px;
  padding: 7px 12px 8px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-size: .8rem;
  line-height: 1;
}
.carousel {
	width: 100%; 
	float: left; 
	margin-right: -100%; 
	position: relative; 
	opacity: 1; 
	display: block; 
	-webkit-transition: opacity 0.8s ease; 
	transition: opacity 0.8s ease; 
	z-index: 2;	
}
.carousel .item {
	overflow:hidden;
	width:100%;
}
.carousel .item img {
  display: block;
  width: 100%;
  height: auto;
  min-height: 400px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  left:50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	position:absolute;
	max-width:none;
	width:130%;
	top:50%;
	z-index:0;
}
@media (max-width:960px){
.carousel .item img {
  display: block;
  width: auto;
  height: 100%;
  min-height: 400px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  left:50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	position:absolute;
	max-width:none;
	top:50%;
	z-index:0;
}
}
.tim-container{
    background: #FFF;
}
.tim-row{
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}
.tim-title{
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}
.tim-title.text-center{
    margin-bottom: 50px;
}
.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;   
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}
.switch{
    margin-right: 20px;
}
#navbar-full .navbar{
    border-radius: 0 !important;
    margin-bottom: 0;
    z-index: 2;
}
.space{
    height: 130px;
    display: block;
}
.space-110{
    height: 110px;
    display: block;
}
.space-50{
    height: 50px;
    display: block;
}
.space-70{
    height: 70px;
    display: block;
}
.navigation-example .img-src{
    background-attachment: scroll; 
}

.main{
    background-color: #FFFFFF;
/*     position: relative; */

}
.navigation-example{
    height: 360px;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-top:0;
}
#notifications{
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    position: relative;
}
.tim-note{
    text-transform: capitalize;
}

.footer-card{
    background-color: #FFFFFF;
    padding: 10px 0 20px;
    width: 100%;
}
.footer-card h3{
/*     margin-bottom: 20px; */
}
.footer-card button{
/*     margin-top: 30px; */
}
.subscribe-form{
    padding-top: 20px;
}
.subscribe-form .form-control{
    
}

.space-100{
    height: 100px;
    display: block;
    width: 100%;
}

.be-social{
    padding-bottom: 20px;
/*     border-bottom: 1px solid #aaa; */
    margin: 0 auto 40px;
}
.txt-white{
    color: #FFFFFF;
}
.txt-gray{
    color: #ddd !important;
}

.social-share{
    float: left;
    margin-right: 8px;
}
.social-share a{
    color: #FFFFFF;
}
#subscribe_email{
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}
.pick-class-label{
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    margin-right: 10px;
    padding: 23px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.parallax{
  width:100%;
  height:570px;
 
  display: block;
  background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
  
}

.logo-container .logo{
    overflow: hidden;
    //border-radius: 50%;
    //border: 1px solid #333333;
    width: 50px; 
    float: left;
    margin-left: 10px;
    margin-top: 0px;
}

.logo-container .brand{
    font-size: 22px;
    color: #FFFFFF;
    line-height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    width: 50px;
    height: 50px;
    font-family: "Open Sans", Lato, "PT Sans", "Helvetica Neue","Open Sans",Arial,sans-serif;

}
.logo-container{
    margin-top: 5px;
}
.logo-container .logo img{
    width: 100%;
}
.navbar-small .logo-container .brand{
    color: #333333;
}
.parallax .motto{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 600;
    position: relative;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
    text-transform: uppercase;
    z-index: 3;
    margin: 0 auto;
    top: 22%;
    width: 285px;
}
.motto .pro{
    position: absolute;
    bottom: 74px;
    right: -28px;
    font-size: 18px;
    background-color: #FFFFFF;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    color: #333333;
    text-shadow: 0 0 0;
}
.parallax .motivation{
    color: #FFFFFF;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
    top: 400px;
    position: absolute;
    text-align: center;
    width: 100%;
/*     font-size: 25px; */
}
.parallax .motto .border{
    float: left;
    border: 3px solid #FFFFFF;
    padding: 0px 30px;
    text-align: center;
}
.parallax .motto .no-right-border{
    border-right: none;
}
.parallax .parallax-image{
    width: 100%;
    overflow: hidden;
    position: absolute;  
}
.parallax .parallax-image img{
    width: 100%;
}

@media (max-width: 768px){
    .parallax .parallax-image{
         width: 100%;
         height: 640px;
         overflow: hidden;
     }
    .parallax .parallax-image img{
       height: 100%;
       width: auto;
   }
   .parallax .motivation {
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    padding: 5px;
    font-size: 20px !important ;
   }
}

.separator{
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}
.separator-line{
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}
.separator.separator-gray{
    background-color: #EEEEEE;
}
.social-buttons-demo .btn{
    margin-right: 5px;
    margin-bottom: 7px;
}

.img-container{
    width: 100%;
    overflow: hidden;
}
.img-container img{
    width: 100%;
}

.lightbox img{
    width: 100%;
}
.lightbox .modal-content{
    overflow: hidden;
}
.lightbox .modal-body{
    padding: 0;
}
@media screen and (min-width: 991px){
    .lightbox .modal-dialog{
        width: 960px;
    }
}

@media (max-width: 768px){
    .btn, .btn-morphing{
        margin-bottom: 10px;
    }
    .parallax .motto{
        top: 170px;
        margin-top: 0;
        font-size: 60px;
        width: 270px;
    }
}

.presentation .loader{
    opacity: 0;
    display: block;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1031;
    margin-left: -32px;
    margin-top: -32px;
}
.presentation  .loader.visible{
    display: block;
    opacity: 1;
}
.presentation  .modal-content{
    background-color: transparent;
    box-shadow: 0 0 0;
}
.presentation .modal-backdrop.in{
    opacity: 0.45;
}
.presentation .preload-image{
    display: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
/*       Loading dots  */

/*      transitions */
.presentation .front, .presentation .front:after, .presentation .front .btn, .logo-container .logo, .logo-container .brand{
     -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.presentation{
    
}
.presentation .section{
    padding: 100px 0;
}
.presentation .colors{
    padding: 100px 0;
}
.presentation > .description{
    padding-top: 20px;
}
.presentation .section-rotation{
    padding: 140px 0;
}
.presentation .section-images{
    padding: 80px 0;
}
.presentation .section-thin{
    padding: 0;
}
.presentation .section-pay{
    padding-top: 20px;
}
.presentation .colors{
    padding: 70px 0;
    z-index: 7;
    position: relative;
    margin-top: -300px;
}
.presentation .colors{
    border-top: 1px solid #DDDDDD;
}
.presentation .card-container{
     -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    min-height: 500px;
    width: 300px;
    position: relative;
    margin-top: 90px;
}
.presentation .card-component{
    -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
	position: relative;
	height: 600px;
}
.presentation .card-component .front{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY( -28deg );
    -moz-transform: rotateY( -28deg );
    -o-transform: rotateY( -28deg );
    transform: rotateY( -28deg );

	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF; 
    width: 100%;
    cursor: pointer;
    box-shadow: 10px 4px 14px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.12);
}

.presentation .front img{
    z-index: 2;
    position: relative;
}

.presentation .card-container:hover .front{
    top: -10px; 
}

.presentation .card-component img{
    width: 100%;
}
.presentation .description .col-md-3{
    width: 16%;
    margin-left: 4%;
}
.presentation .first-card{
    z-index: 6;
}
.presentation .second-card{
    z-index: 5;
}
.presentation .third-card{
    z-index: 4;
}
.presentation .fourth-card{
    z-index: 3;
}
.presentation h1,
.presentation h2{
    font-weight: 200;
}
.presentation h4,
.presentation h5,
.presentation h6{
    font-weight: 300;
}
.presentation h4{
    font-size: 18px;
    line-height: 24px;  
}
.presentation .info h4{
    font-size: 24px;
    line-height: 28px;
}

.presentation .section-gray h1 small{
    color: #888888;
}
.presentation .color-container{
    text-align: center;
}
.presentation .color-container img{
    width: 100%;
    margin-bottom: 10px;
}
.presentation .circle-color{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: block;
    background-color: #cccccc;
    margin: 0 auto;
}
.presentation .circle-red{
    background-color: #ff3b30;
}
.presentation .circle-blue{
    background-color: #3472f7;
}
.presentation .circle-azure{
    background-color: #2ca8ff;
}
.presentation .circle-green{
    background-color: #05ae0e;
}
.presentation .circle-orange{
    background-color: #ff9500;
}

.presentation .section-gray-gradient{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 25%, rgba(231,231,231,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(255,255,255,1)), color-stop(100%,rgba(231,231,231,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 25%,rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 25%,rgba(231,231,231,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 25%,rgba(231,231,231,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 25%,rgba(231,231,231,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
}
.presentation .section-black{
    background-color: #333;
}

.rotating-card-container {
    -webkit-perspective: 900px;
   -moz-perspective: 900px;
     -o-perspective: 900px;
        perspective: 900px;
        margin-bottom: 30px;
}

.rotating-card {
   -webkit-transition: all 1.3s;
   -moz-transition: all 1.3s;
     -o-transition: all 1.3s;
        transition: all 1.3s;
-webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;

    margin-top: 20px;    
  position: relative;
   background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 20px;
    color: #444444;    
}
.rotating-card-container .rotate, 
.rotating-card .back{
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.rotating-card-container:hover .rotate{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}


.rotating-card .front,
.rotating-card .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    box-shadow: 0 3px 17px rgba(0,0,0,.15);
}

.rotating-card .front {
    z-index: 2;
}

.rotating-card .back {
    z-index: 3;
    height: 500px;
    width: 100%;
    display: block;
    padding: 0 15px;
    background-color: #e5e5e5;
}

.rotating-card .back-contaier {
  background-color: white;
  padding: 30px 15px;

}

.rotating-card .image{
    border-radius: 20px 20px 0 0;
}
.rotating-card-container, 
.rotating-card .front, 
.rotating-card .back {
  width: 100%;
  min-height: 500px;
  border-radius: 20px;
}
/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .rotating-card .front, .rotating-card .back{
        -ms-backface-visibility: visible;    
        backface-visibility: visible;
    }
    .rotating-car .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
    }
    .rotating-card .front{
        z-index: 4;
    }
    .rotating-card-container:hover .back{
        z-index: 5;
        visibility: visible;
    }
}


.motto .square{
    padding: 7px 14px;
    height: auto;
    width: auto;
    line-height: inherit;
    border-radius: 6px;
    bottom: 52px;
    right: -30px;
    color: #FFFFFF;
    background-color: #ff9500;
    font-weight: 300;
}

/* get shite done mic */
.motto .square{
    padding: 5px 11px;
    height: auto;
    width: auto;
    line-height: inherit;
    border-radius: 6px;
    bottom: 42px;
    right: -25px;
    color: #FFFFFF;
    background-color: #ff9500;    
}

.fixed-section{
    margin-top: 90px;
}
.fixed-section ul li{
    list-style: none;
}
.fixed-section li a{
    font-size: 14px;
    padding: 2px;
    display: block;
    color: #666666;
}
.fixed-section li a.active{
    color: #00bbff;
}
.fixed-section.float{
    position: fixed;
    top: 100px;
    width: 200px;
    margin-top: 0;
}


/* prettyprint */
.presentation pre.prettyprint{
    background-color: transparent;
    border: 0px !important; 
    margin-bottom: 0;
    margin-top: 30px;
    text-align: left;
}
.presentation .atv,
.presentation .str{
    color: #0D9814;
}
.presentation .tag,
.presentation .pln,
.presentation .kwd{
    color: #195CEC;
}
.presentation .atn{
    color: #2C93FF;
}
.presentation .pln{
    color: #333;
}
.presentation .com{
    color: #999;
}

.presentation .text-white{
    color: #FFFFFF;
    text-shadow: 0 1px 2px rgba(0,0,0,.13);
}
.presentation .section-images .card-image{
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    box-shadow: 0 -3px 8px rgba(0,0,0,0);
}
.presentation .section-images .card-image .image{
/*     border-radius: 6px; */
}
@media (max-width: 1200px){
    .presentation .section-images .image img{
        width: 100%;
    }
        
}
.presentation .card-text-adjust{
    padding-left: 40px;
}
.presentation .info.info-separator{
    position: relative;
}
.presentation .info.info-separator:after{
    height: 100%;
    position: absolute;
    background-color: #ccc;
    width: 1px;
    content: "";
    right: -7px;
    top: 0;
}
.presentation .info li{
    padding: 5px 0;
    border-bottom: 1px solid #E5E5E5;
    color: #666666;
}
.presentation .info ul{
    width: 240px;
    margin: 10px auto;
}
.presentation .info li:last-child{
    border: 0;
}

/*      layer animation          */
    
.layers-container{
    display: block;
    margin-top: 50px;
    position: relative;
}
.layers-container img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  text-align: center;
}

.section-black {
  background-color: #333;
}

#layerHover{
  top: 30px;
}
#layerImage{
    top: 50px;
}
#layerBody{
  top: 75px;
}

.animate {
  transition: 1.5s ease-in-out;
  -moz-transition: 1.5s ease-in-out;
  -webkit-transition: 1.5s ease-in-out;
}

.down {
  transform: translate(0,45px);
  -moz-transform: translate(0,45px);
  -webkit-transform: translate(0,45px);
}

.down-2x {
   transform: translate(0,90px);
  -moz-transform: translate(0,90px);
  -webkit-transform: translate(0,90px);
}


.navbar-default.navbar-small .logo-container .brand{
    color: #333333;
}
.navbar-transparent.navbar-small .logo-container .brand{
    color: #FFFFFF;
}
.navbar-default.navbar-small .logo-container .brand{
    color: #333333;
}
.section-thin{
    padding-bottom: 0;
}

.info.info-separator{
    position: relative;
}
.info.info-separator:after{
    height: 100%;
    position: absolute;
    background-color: #ccc;
    width: 1px;
    content: "";
    right: -7px;
    top: 0;
}
@media (max-width: 767px){
.info.info-separator:after{
    display: none;
  }
}
.info li{
    padding: 5px 0;
    border-bottom: 1px solid #E5E5E5;
    color: #666666;
}
.info ul{
    width: 240px;
    margin: 10px auto;
}
.info li:last-child{
    border: 0;
}
.payment-methods i {
    font-size: 28px;
    padding: 0 3px;
    width: 38px;
}
.payment-methods h4 {
    font-size: 18px;
    line-height: 38px;
}
.info .description .btn{
    width: 240px;
    font-weight: 500;
}
#buyButtonHeroes{
    margin-top: 31px;
}
.right-click{
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.8);
    position: fixed;
    z-index: 20000;
    display: none;
}
.onclick{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20001;
}
.container-right-click{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.container-right-click .card-price#card-price-small{
    margin-top: 70px;
     -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    position: relative;
    z-index: 20003;
    
}
.container-right-click .card-price#card-price-big{
    margin-top: 40px;
     -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
      position: relative;
    z-index: 20003;
    
}
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
}

.container-right-click h4{
    color: white;margin-top: 45px;font-weight: 200;margin-bottom: 0;
}



/*slider*/

#wowslider-container1 { 
	zoom: 1; 
	position: relative; 
	max-width:830px;
	margin:0px auto 0px;
	z-index:90;
	border:none;
	text-align:left; /* reset align=center */
}
* html #wowslider-container1{ width:830px }
#wowslider-container1 .ws_images ul{
	position:relative;
	width: 10000%; 
	height:auto;
	left:0;
	list-style:none;
	margin:0;
	padding:0;
	border-spacing:0;
	overflow: visible;
	/*table-layout:fixed;*/
}
#wowslider-container1 .ws_images ul li{
	width:1%;
	line-height:0; /*opera*/
	float:left;
	font-size:0;
	padding:0 0 0 0 !important;
	margin:0 0 0 0 !important;
}

#wowslider-container1 .ws_images{
	position: relative;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
#wowslider-container1 .ws_images a{
	width:100%;
	display:block;
	color:transparent;
}
#wowslider-container1 img{
	max-width: none !important;
}
#wowslider-container1 .ws_images img{
	width:100%;
	border:none 0;
	max-width: none;
	padding:0;
	margin:0;
}
#wowslider-container1 a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

#wowslider-container1  .ws_bullets { 
	font-size: 0px; 
	float: left;
	position:absolute;
	z-index:70;
}
#wowslider-container1  .ws_bullets div{
	position:relative;
	float:left;
}
#wowslider-container1  .wsl{
	display:none;
}
#wowslider-container1 sound, 
#wowslider-container1 object{
	position:absolute;
}


#wowslider-container1  .ws_bullets { 
	padding: 9px; 
}
#wowslider-container1 .ws_bullets a { 
	width:10px;
	height:10px;
	background: url(./bullet.png) left top;
	float: left; 
	text-indent: -4000px; 
	position:relative;
	margin-left:5px;
	color:transparent;
}
#wowslider-container1 .ws_bullets a:hover, #wowslider-container1 .ws_bullets a.ws_selbull{
	background-position: 0 100%;
}
#wowslider-container1 a.ws_next{
	background-position: 100% 0;
	right:10px;
}
* html #wowslider-container1 a.ws_next,* html #wowslider-container1 a.ws_prev{display:block}
#wowslider-container1:hover a.ws_next, #wowslider-container1:hover a.ws_prev {display:block}
#wowslider-container1 a.ws_prev:hover{
	opacity:1;
}
#wowslider-container1 a.ws_next:hover{
	opacity:1;
}
#wowslider-container1 a.ws_prev:before{
	display:block;
	background:url('/img/bt-top.png');
    top: 25px;
    left: 50%;
    position: absolute;
	width:51px;
	height:25px;
	content: '';
}
#wowslider-container1 a.ws_next:before{
	display:block;
	background:url('/img/bt-bottom.png');
    bottom: 25px;
    left: 50%;
    position: absolute;
	width:51px;
	height:25px;
	content: '';
}
#wowslider-container1 a.ws_prev {
    height: 351px;
    background: url(/img/bg-over-top.png) repeat-x left top;
    display: block;
    opacity: 0;
    /* background: rgba(0,0,0,0.5); */
    text-align: center;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    width: 100%;
    left: 0;
    max-height: none;
    top: 0;
    position: absolute;
    z-index: 2222;
	max-height:none;
}
#wowslider-container1 a.ws_next {
    height: 351px;
	max-height:none;
    background: url(/img/bg-over-bottom.png) repeat-x left bottom;
    display: block;
    opacity: 0;
    /* background: rgba(0,0,0,0.5); */
    text-align: center;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    width: 100%;
    left: 0;
    max-height: none;
    bottom: 0;
    position: absolute;
    z-index: 2222;
}
.ws_controls {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
	width:100%;
}


#wowslider-container1  .ws_thumbs { 
    top: 0;
    width: 120px;
    height: 100%;
    right: 0;
    float: right;
    overflow-y: auto !important;
    position: absolute;
    z-index: 99;
    background: #000;
    margin-right: -20px !important;
}
#wowslider-container1 .ws_images a img{
	width:130% !important;
}
#wowslider-container1 .ws_thumbs a { 
	position:relative;
	text-indent: -4000px; 
	color:transparent;
	opacity:0.85;
}
#wowslider-container1 .ws_thumbs a:hover{
	opacity:1;
}
#wowslider-container1 .ws_thumbs a:hover img{
	visibility:visible;
}
#wowslider-container1  .ws_thumbs div{
	position:relative;
	width:100%;
}
#wowslider-container1 .ws_thumbs .ws_selthumb img{
	border-color:#559674;
}

#wowslider-container1 .ws_images > ul{
	animation: wsBasic 36s infinite;
	-moz-animation: wsBasic 36s infinite;
	-webkit-animation: wsBasic 36s infinite;
}
@keyframes wsBasic{0%{left:-0%} 6.94%{left:-0%} 12.5%{left:-100%} 19.44%{left:-100%} 25%{left:-200%} 31.94%{left:-200%} 37.5%{left:-300%} 44.44%{left:-300%} 50%{left:-400%} 56.94%{left:-400%} 62.5%{left:-500%} 69.44%{left:-500%} 75%{left:-600%} 81.94%{left:-600%} 87.5%{left:-700%} 94.44%{left:-700%} }
@-moz-keyframes wsBasic{0%{left:-0%} 6.94%{left:-0%} 12.5%{left:-100%} 19.44%{left:-100%} 25%{left:-200%} 31.94%{left:-200%} 37.5%{left:-300%} 44.44%{left:-300%} 50%{left:-400%} 56.94%{left:-400%} 62.5%{left:-500%} 69.44%{left:-500%} 75%{left:-600%} 81.94%{left:-600%} 87.5%{left:-700%} 94.44%{left:-700%} }
@-webkit-keyframes wsBasic{0%{left:-0%} 6.94%{left:-0%} 12.5%{left:-100%} 19.44%{left:-100%} 25%{left:-200%} 31.94%{left:-200%} 37.5%{left:-300%} 44.44%{left:-300%} 50%{left:-400%} 56.94%{left:-400%} 62.5%{left:-500%} 69.44%{left:-500%} 75%{left:-600%} 81.94%{left:-600%} 87.5%{left:-700%} 94.44%{left:-700%} }

#wowslider-container1 .ws_images img, #wowslider-container1 .ws_effect img, #wowslider-container1 .ws_effect>* {
}
#wowslider-container1 .ws_bullets  a img{
	text-indent:0;
	display:block;
	top:20px;
	left:-60px;
	visibility:hidden;
	position:absolute;
	max-width:none;
}
#wowslider-container1 .ws_bullets a:hover img{
	visibility:visible;
}

#wowslider-container1 .ws_bulframe div div{
	height:52px;
	overflow:visible;
	position:relative;
}
#wowslider-container1 .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:120px;
	background-color:#FFF;
}
#wowslider-container1  .ws_bullets .ws_bulframe{
	display:none;
	top:18px;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    border: 4px solid #FFF;
}
#wowslider-container1 .ws_bulframe span{
	display:block;
	position:absolute;
	top:-10px;
	margin-left:-6px;
	left:60px;
	background:url(./triangle.png);
	width:15px;
	height:6px;
}
#wowslider-container1 {
	margin:0 !important;
	max-width:100% !important;
}
#wowslider-container1.grabbing {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABaSURBVEjH7ZMxCkAhDEOT8u9/5TpJ+xWkFse8IYutJgEB8RCHL1qCc90BEFnT6QH7mwgFHBUf8wJyS1TDLuc3vmighx37LZdIth3E5hKj9n6O0HRh+oJCiFcMxRUUDxR1CTMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDctMDdUMTM6NDk6MzgrMDI6MDDqf+sOAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA3LTA3VDEzOjQ5OjM4KzAyOjAwmyJTsgAAAABJRU5ErkJggg=="), move;
}
#wowslider-container1 a img{
	max-width:100% !important;
}
#wowslider-container1 a {
    width: 100%;
    display: block;
    height: auto;
    overflow: hidden;
    text-indent: 0 !important;
    max-height: 67px;
	background:#fff;
}
#wowslider-container1 a.ws_selthumb img{
	opacity:0.6;
}
#scroll_top {
	width:100px;
	background:#fff;
	position:absolute !important;
	top:0 !important;
	left:0 !important;
    z-index: 2222;
    height: 44px;
    top: 0;
	cursor:pointer;
    background: url(/img/bt-projetos-up.jpg) no-repeat left top;
}
#scroll_top:hover {
    background-position: 0 -44px;
}
#scroll_bottom:hover{
    background-position: 0 -43px;
}
#scroll_bottom {
	width:100px;
	background:#fff;
	position:absolute !important;
	left:0 !important;
    z-index: 2222;
    height: 43px;
	cursor:pointer;
    bottom: 0;
    background: url(/img/bt-projetos-down.jpg) no-repeat left top;
}
#scroll_top:hover {
    background-position: 0 -44px;
}
.ws_thumbs > div{
	padding:44px 0;
	left:0 !important;
	top:0 !important;
}
#nav_wrap {
    top: 0;
    right: 0;
    width: 100px;
    max-height: 100vh;
    height: 100%;
    overflow: hidden;
    position: absolute;
}
.ws_images{
    overflow: hidden;
}
div#wowslider-container1{
	float:right;
}
.info-project.info-closed.related2{
	width:220px;
	float:left;
	overflow:hidden;
    border: 1px solid #d1d1d1;
	height:750px;
}
.body-slider{
	overflow-x:hidden;
}
.content-project{
	opacity: 0;
	position: relative;
	z-index: 51;
	top: 0;
	left: 0;
	height: auto;
}
.main-project{
	margin: 0 auto; 
	position:relative; 
	-webkit-transition:opacity 0.4;
	transition:opacity 0.4;
}
.info-project{
	width: 100%;
	height: 37px;/*display: block;*/
	position: absolute;
	top: 0;
	left: 0;
	background: #717171;
	z-index: 10;
}
/* latin-ext */
/*@font-face {
	font-family: 'gotham_htfbook_condensed';
	src: url(/assets/fonts/GothaProNarBol.otf); 
}*/
/* latin */
@font-face {
  font-family: 'gotham_htfbook_condensed';
  font-style: normal;
  font-weight: 400;
  src: local('gotham_htfbook_condensed'), local('PathwayGothicOne-Regular'), url(https://fonts.gstatic.com/s/pathwaygothicone/v4/Lqv9ztoTUV8Q0FmQZzPqaL4J1CEROx9mnpUAGKYKzuk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: GothaPro;
	src: url(/assets/fonts/GothaProReg.otf); 
}
@font-face {
	font-family: GothaProLight;
	src: url(/assets/fonts/GothaProLig.otf); 
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xBztfhWvsElVqpbWxzFHK633rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xIF8zhZCJ7x9Pr62cRgaVUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.jspPane {
    background: #fff;
}
.project-description {
    clear: left;
}
.info_wrapper {
    position: relative;
    z-index: 99;
}
.info-project p {
	font-family: GothaProLight;
    font-weight: 100;
    font-size: 14px;
    line-height: 18px;
    color: #717171;
}
.body-slider {
    overflow: hidden;
}
.content-description.jspScrollable {
    clear: both;
    padding: 15px 10px 15px 15px;
    background: #fff;
	height:475px;
	overflow:hidden;
}
.socialNetwork-projects {
    width: 100%;
    height: 71px;
    padding: 20px 10px 30px 27px;
    text-align: center;
    background: #fff;
}
.related-projects {
    width: 100%;
    height: auto;
    padding: 11px 0 1px 0;
    background: #eeeeee;
}
.related-projects h3 {
    padding: 0 0 0 5px;
    margin: 0 0 6px 0;
    line-height: 12px;
    font-family: 'gotham_mediumregular';
    font-size: 12px;
    color: #717171;
    font-style: normal;
    letter-spacing: -1px;
}
.related-projects ul li a{
	width:100% !important;
	margin:0 !important;
	height:57px !important;
}
.related-projects ul li img{
	width:100%;
}
.related-projects ul li{
	display:block;
	width:50%;
	float:left;
	padding:5px;
	overflow:hidden;
}
.related-projects ul{
	padding:15px;
	margin:0;
    overflow: hidden;
    padding-top: 0;
}
.info-project a{
	width: 46px;
	height: 37px;
	display: block;
	float: left;
    margin-right: 14px;

}
.scrollable .scroll-bar.vertical {
    position: absolute;
    right: 60px;
    width: 5px;
    height: 100%;
    background: #dddddd;
    z-index: 9;
    border-radius: 5px;
    right: 5px !important;
}
.scrollable .scroll-bar.vertical .thumb {
    width: 100%;
    min-height: 10px;
    border-radius: 5px;
    background: #555555;
}
.scrollable .viewport .overview {
    position: absolute;
    padding-right: 10px;
}
.info-project .anterior a{
	background: url(/img/bt-projetos-anterior.jpg) no-repeat left top;
}
.info-project span.proximo a{
	width:47px;
	background: url(/img/bt-projetos-proximo.jpg) no-repeat left top;
    font-size: 0;
}
.info-project a:hover{
	background-position: 0 -37px
}
.mobile .info-project a:hover{
	background-position: 0 0
}
.info-project a:active{
	background-position: 0 -74px
}
.info-project .desativado{
	display: none;
	cursor:default;
}
.info-project a.homeProjects{
	width: 125px;
	height: 37px;
	text-indent: 0;
	padding: 7px 0 0 40px;
	background: url(/img/grid-bt-projetos.png) no-repeat 20px 10px;
	font-size: 20px;
	color:#f2f2f2;
	font-family: 'gotham_htfbook_condensed'; 
	line-height: 20px;
    margin-left: -14px;
}
.info-project a:hover.homeProjects{
	background-color: #555555;
	text-decoration: none;
}/*
.info-project a:hover.homeProjects{
	background: url(/img/grid-bt-projetos.png) no-repeat 20px 10px;
}*/
.info-project a.majorhomeProjects{
	width: 171px;
}
.contadorImagens{
	display: none;
}
.content-carrossel{
	background: #f2f2f2;
}
.project h2, .info-project h2 {
    margin: 0 0 10px 0;
    font-family: 'gotham_htfbook_condensed';
    font-size: 24px;
    line-height: 30px;
    color: #868686;
    font-weight: 700;
}
.project h3, .info-project h3{
	margin:0 0 5px 0;
	font-family: GothaPro;
	font-style: italic;
	font-size: 16px;
	line-height: 20px;
	color: #868686;
}
span.proximo {
    display: none;
}
@media (min-width:768px){
#wowslider-container1 .ws_images ul{
    height: 100%;
}
#wowslider-container1 .ws_images li{
	top:50%;
	position:relative;
    -webkit-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
}
#wowslider-container1 .ws_images img {
    width: 100%;
    height: auto;
    border: none 0;
    max-width: none;
    padding: 0;
    margin: 0;
	position:relative;
    left: 50%;
    -webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
    /*min-width: 1240px;*/
}
.ws_effect canvas{
	z-index:2;
	top:50% !important;
	left:50% !important;
	background:#000;
	position:relative;
    -webkit-transform: translate(-50%,-50%) !important;
    -ms-transform: translate(-50%,-50%) !important;
    transform: translate(-50%,-50%) !important;
}
}
#current_img{
	display:none;
}
.details{
	display:none;
}
@media (max-width:767px){
	/*tmp*/
.ws_effect:before{
	display:block;
	background-color:#000;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	width:100%;
	height:100%;
	content:'';
}
.ws_effect canvas{
	z-index:2;
	top:50% !important;
	background:#000;
	position:relative;
    -webkit-transform: translate(0%,-50%) !important;
    -ms-transform: translate(0%,-50%) !important;
    transform: translate(0%,-50%) !important;
}
.info-project.info-closed.related2{
	display:none;
}
body.body-slider {
    position: absolute;
}
.open_info .closed{
	z-index:-1;
}
.closed{
    width: 55px;
    height: 37px;
    background: url(/img/bt-fechar-mobi.jpg) no-repeat left top;
    display: block;
    right: 0;
	float:right;
	z-index:9999;
	position:absolute;
	top:0;
	cursor:pointer;
}
.open_info .details {
    margin: 0 auto;
    -webkit-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
    width: 100%;
    text-align: center;
    padding: 11px 0px;
    cursor: pointer;
    top: 60px;
    z-index: 999;
    position: relative;
    width: 100%;
    z-index: 999999999;
    height: 40px;
}
.content-description.jspScrollable{
	height:auto !important;
}
.content-description.jspScrollable *{
	position:relative !important;
	top:0 !important;
}
.scroll-bar.vertical{
	display:none !important;
}
.socialNetwork-projects {
    width: 100%;
    height: 71px;
    padding: 20px 10px 30px 27px;
    text-align: center;
    background: #fff;
    text-align: center;
    width: 220px;
    margin: auto;
}
.project-description {
    clear: left;
    background: #fff;
}
.related-projects > div {
    margin: auto;
    width: 100% !important;
}
.info-project.info-closed.related2 {
    border: none;
    background: #fff;
    overflow-y: auto !important;
}
.info-project.info-closed.related2 {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}
.details:after{
	content:'';
	display:inline-block;
	width:20px;
	height:10px;
	margin-left:10px;
    background: url(/assets/img/bg-filtro.png) no-repeat 0px 0px;
    margin-top: 2px;
}
.open_info .details:after{
    background: url(/assets/img/bg-filtro.png) no-repeat 0px -10px;
}
.info-project.info-closed.related2{
	border:none;
}
.details {
    display: block;
    color: #ff0201;
    font-size: 12px;
    width: 70px;
    height: 10px;
    line-height: 10px;
    padding: 0 17px 0 0;
    background: url(/img/bg-filtro.png) no-repeat right -10px;
    margin: 0 auto;
    -webkit-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
    background: #fff;
    width: 100%;
    text-align: center;
    padding: 11px 0px;
	cursor:pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
    top: 17px;
    height: 34px;
    position: relative;
    border-bottom: thin solid #c2c2c2;
    background: #ddd;
}
.info_wrapper {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: auto;
    bottom: 0;
}
#current_img{
	display:block;
	width:100%;
	height:37px;
	padding:9px 0 0 107px ;
	font-size:15px;
    color:#b6b6b6;
    background: #717171;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	width:100%;
}
#wowslider-container1 .ws_images ul{
    height: 100%;
	background:#000;
}
#wowslider-container1 .ws_images li{
	top:50%;
	position:relative;
    -webkit-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
}
#wowslider-container1 .ws_images img {
    width: 100%;
    border: none 0;
    max-width: none;
    padding: 0;
    margin: 0;
    width: 100% !important;
    /*min-width: 1240px;*/
}
div#wowslider-container1 {
    float: right;
    width: 100% !important;
}
#nav_wrap {
    width: 50px;
	display:none;
}
#scroll_top, #scroll_bottom {
    margin-left:-25px;
}
.ws_controls *{
	pointer-events:auto;
}
.ws_cover {
    pointer-events: none;
}
.ws_effect.ws_blur {
    pointer-events: none;
}
.ws_controls {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    z-index: 12;
	pointer-events:none;
}
#wowslider-container1 .ws_images li{
	overflow:hidden;
}
.ws_effect:before{
	display:block;
	background-color:#000;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	width:100%;
	height:100%;
	content:'';
}
.ws_effect canvas{
	z-index:2;
	top:50% !important;
	background:#000;
	position:relative;
    -webkit-transform: translate(0%,-50%) !important;
    -ms-transform: translate(0%,-50%) !important;
    transform: translate(0%,-50%) !important;
}
#wowslider-container1 .ws_images img {
    height: 50%;
    width: auto;
    border: none 0;
    max-width: none;
    padding: 0;
    margin: 0;
    position: relative;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
    max-width: none !important;
}
#wowslider-container1 .ws_thumbs {
    top: 0;
    width: 70px;
    height: 100%;
    right: 0;
    float: right;
    overflow-y: auto !important;
    position: absolute;
    z-index: 99;
    background: #000;
    margin-right: -20px !important;
    /* top: 0 !important; */
}
#wowslider-container1 .ws_thumbs div {
    position: relative;
    width: 100%;
    top: 0 !important;
    transform: translate(0,0) !important;
}
#wowslider-container1 a.ws_next {
    width: 46px;
    height: 37px;
    top: 0;
    display: block;
    width: 47px;
    height: 37px;
    background: url(/img/bt-projetos-proximo.jpg) no-repeat left top !important;
	opacity:1 !important;
    left: 46px;
}
#wowslider-container1 a.ws_prev{
    width: 46px;
    height: 37px;
    top: 0;
    display: block;
    height: 37px;
    background: url(/img/bt-projetos-anterior.jpg) no-repeat left top !important;
	opacity:1 !important;
}
#wowslider-container1 a.ws_next:before , #wowslider-container1 a.ws_prev:before{
	display:none;
}
}
.gallery_wrapp{
	float:right;
	overflow-y:auto;
	padding:0;
	padding-top:20px;
}
#masonry_hybrid_demo2 img:hover{
	opacity:0.7;
}
#masonry_hybrid_demo2 img{
	max-width:100%;
	opacity:1;
}
.gallery_wrapp {
    padding-top: 90px;
	padding-right:5px !important;
}
body.body-slider.body-gallery .logo-container .brand{
	color:#000;
}
#masonry_hybrid_demo2{
	width:100%;
    width: calc(100% - 200px);
	margin:auto !important;
}
body.body-slider.body-gallery .navbar-default {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body.body-slider.body-gallery .info-project a.homeProjects {
    margin-top: 70px;
}
@media (max-width:991px){
body.body-slider.body-gallery .info-project a.homeProjects {
    margin-top: 140px;
}
.gallery_wrapp {
    padding-top: 180px;
}
#masonry_hybrid_demo2{
	width:100%;
	margin:auto !important;
}
}
@media (max-width:1300px){
#masonry_hybrid_demo2{
	max-width:90%;
	margin:auto;
}
}
@media (max-width:900px){
#masonry_hybrid_demo2{
	max-width:95%;
	margin:auto;
}
}
.gallery_title{
	display:none;	
    margin: 0 0 10px 0;
    font-family: 'gotham_htfbook_condensed';
    font-size: 24px;
    line-height: 30px;
    color: #868686;
    font-weight: 700;
	padding-left:10px;
}
@media (max-width:767px){
#masonry_hybrid_demo2{
	max-width:100%;
	margin:auto;
}
.gallery_title{
	display:block;
}
body.body-slider.body-gallery .info-project a.homeProjects {
    margin-top: 0px;
}
.gallery_wrapp {
    width: 100% !important;
    height: 100% !important;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 40px;
    padding-top: 90px;
}
.body-gallery .closed{
	display:none;
}
body.body-slider.body-gallery {
	width:100%;
	height:100%;
}
}
.container_wide{
    max-width: 1396px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.related-projects {
    overflow-y: auto;
    height: 180px;
}

.columnlists  ul {
    margin: 1em 0;
    padding-left: 1em
}
.columnlists  li {
    display: inline-block;
    width: 100%;
    padding-left: 2em;
    text-indent: -2em
}
.columnlists  li:before {
    content: '\2022';
    margin-right: 0.75em;
    font-weight: bold;
    font-size: 1.3em
}
.columnlists  li li {
    display: block
}
.columnlists  li li:before {
    content: '\B7'
}
.carousel .item{
	height:100vh;
}
@media only screen and (min-width: 43.75em) {
 body {
        background-size: 80% auto
    }
.columnlists  ul {
        columns: 2em 2
    }
}
@media only screen and (min-width: 60em) {
 body {
        background-size: auto auto
    }
.columnlists  ul {
        columns: 2em 3
    }
}
@media (min-width:768px){
.project-description {
	position:relative;
    height: 100%;
}
.content-description.jspScrollable.scrollable {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    top: 0;
}
.socialNetwork-projects {
    position: absolute;
    top: 50%;
    left: 0;
}
.related-projects.scrollable {
    top: 50%;
    margin-top: 71px;
    position: absolute;
    left: 0;
    height: 50%;
    padding-bottom: 108px;
}
}