<!-- Start footer -->
<div id="siteinfo">
<p><a href="https://www.romanes.com/index_es.html">Romanes.com Home</a>&nbsp;&nbsp;&nbsp;&nbsp;<a rel="nofollow" href="https://www.romanes.com/email.html">Contáctenos</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.romanes.com/email.html">Acerca de este sitio</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.romanes.com/email.html">Acerca de Fotos</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://romanes.blogspot.com/">Blog visitas</a>&nbsp;&nbsp;&nbsp;&nbsp;<a rel="nofollow" href="https://www.romanes.com/copyright.html">Información Legal</a><br>

Except where indicated otherwise, all content and images &copy; 2000-2023 Romanes.com.&nbsp;All rights reserved.<br>
Romanes.com es un sitio dedicado al <strong>arte románico y gótico</strong>, historia del arte, arte medieval, el arte cisterciense, peregrinaciones, lugares santos, la historia religiosa, arqueología, manuscritos, vidrieras, paleografía. <br>
 
Temas populares: <a href="https://www.romanes.com/art_roman.html">románico</a>,<a href="https://www.romanes.com/art_gothique.html">gótico</a>, <a href="https://www.romanes.com/art_cistercien.html">arte cisterciense</a>, <a href="https://www.romanes.com/Arts/sculpture_romane.html">escultura románica</a>, <a href="https://www.romanes.com/Arts/vitraux_romans.html">ventanas románica</a>, <a href="https://www.romanes.com/Arts/manuscrits_romans.html">manuscritos</a>, <a href="https://www.romanes.com/voyages_fr.html">itinerarios y viaje</a>, <a href="https://www.romanes.com/medieval_history_fr.html">medieval cronología</a>,



</p>
</div>
<!-- End footer -->
</div>

</div>
</div></body></html>
