<!-- Start footer -->
<div id="siteinfo">
<p><a href="https://www.romanes.com/">Romanes.com Home</a>&nbsp;&nbsp;&nbsp;&nbsp;<a rel="nofollow" href="https://www.romanes.com/email.html">Nous contacter</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.romanes.com/email.html">Au sujet du site</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.romanes.com/email.html">Au sujet des images</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://romanes.blogspot.com/">Blog des visites</a>&nbsp;&nbsp;&nbsp;&nbsp;<a rel="nofollow" href="https://www.romanes.com/copyright.html">Informations légales</a><br>

Except where indicated otherwise, all content and images &copy; 2000-2022 Romanes.com.&nbsp;All rights reserved.<br>
Romanes.com est un site consacré à l'<strong>Art roman et gothique</strong>, l'histoire de l'art, l'art médiéval, l'art cistercien, les pélerinages, lieux sacrés, histoire religieuse, archéologie, manuscrits, vitraux, paléographie. <br>
 
Sujets populaires: <a href="https://www.romanes.com/art_roman.html">art roman</a>,<a href="https://www.romanes.com/art_gothique.html">art gothique</a>, <a href="https://www.romanes.com/art_cistercien.html">art cistercien</a>, <a href="https://www.romanes.com/Arts/sculpture_romane.html">sculpture romane</a>, <a href="https://www.romanes.com/Arts/vitraux_romans.html">vitraux romans</a>, <a href="https://www.romanes.com/Arts/manuscrits_romans.html">manuscrits romans</a>, <a href="https://www.romanes.com/voyages_fr.html">itinéraires et voyages</a>, <a href="https://www.romanes.com/medieval_history_fr.html">chronologie médiévale</a>

</p>
</div>
<!-- End footer -->

</div></body></html>
