<!-- Start footer -->
<div id="siteinfo">
<p><a href="https://www.romanes.com/index_en.html">Romanes.com Home</a>&nbsp;&nbsp;&nbsp;&nbsp;<a rel="nofollow" href="https://www.romanes.com/email_en.html">Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.romanes.com/email_en.html">About This Site</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.romanes.com/email_en.html">About Pictures</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://romanes.blogspot.com/">Blog visits</a>&nbsp;&nbsp;&nbsp;&nbsp;<a rel="nofollow" href="https://www.romanes.com/copyright.html">Imprint</a><br>

Except where indicated otherwise, all content and images &copy; 2000-2023 Romanes.com.&nbsp;All rights reserved.<br>
Romanes.com is a site dedicated to the <strong>Romanesque and Gothic art</strong>, art history, medieval art, art Cistercian, pilgrimages, holy places, religious history, archeology, manuscripts, stained glass, palaeography. <br>
 
Popular Topics: <a href="https://www.romanes.com/art_roman.html">romanesque</a>,<a href="https://www.romanes.com/art_gothique.html">gothic</a>, <a href="https://www.romanes.com/art_cistercien.html">cistercian art</a>, <a href="https://www.romanes.com/Arts/sculpture_romane.html">romanesque sculpture</a>, <a href="https://www.romanes.com/Arts/vitraux_romans.html">romanesque stained glass</a>, <a href="https://www.romanes.com/Arts/manuscrits_romans.html">manuscripts</a>, <a href="https://www.romanes.com/voyages_fr.html">itineraries and travels</a>, <a href="https://www.romanes.com/medieval_history_fr.html">medieval chronology</a>

</p>
</div>
<!-- End footer -->
</div>

</div></body></html>
