<!-- Start footer -->
<div id="siteinfo">
<p><a href="https://www.romanes.com/index_it.html">Romanes.com Home</a>&nbsp;&nbsp;&nbsp;&nbsp;<a rel="nofollow" href="https://www.romanes.com/email.html">Contattaci</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.romanes.com/email.html">Informazioni</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.romanes.com/email.html">Foto del sito</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://romanes.blogspot.com/">Blog</a>&nbsp;&nbsp;&nbsp;&nbsp;<a rel="nofollow" href="https://www.romanes.com/copyright.html">Impressum</a><br>

Except where indicated otherwise, all content and images &copy; 2000-2022 Romanes.com.&nbsp;All rights reserved.<br>
Romanes.com è un sito dedicato al <strong>romanico e gotico storia</strong>, arte medievale, arte cistercense, pellegrinaggi, luoghi sacri, religiosi storia, archeologia, manoscritti, vetrate, paleografia.<br>
 
Argomenti Popolari: <a href="https://www.romanes.com/art_roman.html">romanico</a>,<a href="https://www.romanes.com/art_gothique.html">gotico</a>, <a href="https://www.romanes.com/art_cistercien.html">art cistercense</a>, <a href="https://www.romanes.com/Arts/sculpture_romane.html">scultura romanica</a>, <a href="https://www.romanes.com/Arts/vitraux_romans.html">vetrate</a>, <a href="https://www.romanes.com/Arts/manuscrits_romans.html">manoscritti</a>, <a href="https://www.romanes.com/voyages_fr.html">itinerari e viaggio</a>, <a href="https://www.romanes.com/medieval_history_fr.html">chronologie Medievale</a>,



</p>
</div>
<!-- End footer -->
</div>

</div>
</div></body></html>
