<!-- RIGHTtable -->
    <div class="boxheader" style="border-top-width: 1px; border-top-style: solid; border-top-color: #d5d5d5; clear: left; margin-top: 20px; padding-top: 20px;"><a> <h1>
  Architecture Gothique
    </h1></a></div>

   <table cellspacing="0" cellpadding="0" width="100%">
	<tbody><tr><td class="boxlist" width="50%">
	<ul class="boxlist">

<li><a href="https://www.romanes.com/Amiens/">Cathédrale d'Amiens</a></li>

<li><a href="https://www.romanes.com/Bourges/">Cathédrale de Bourges</a></li>

<li><a href="https://www.romanes.com/Bayeux/">Cathédrale de Bayeux</a></li>

<li><a href="https://www.romanes.com/Chartres/">Cathédrale de Chartres</a></li>

<li><a href="https://www.romanes.com/Saint_Denis/">Cathédrale de Saint Denis</a></li>

<li><a href="https://www.romanes.com/Reims/">Cathédrale de Reims</a></li>

<li><a href="https://www.romanes.com/Senlis/">Cathédrale de Senlis</a></li>

<li><a href="https://www.romanes.com/Beauvais">Cathédrale Saint Pierre de Beauvais</a></li>

<li><a href="https://www.romanes.com/Sarlat/">Cathédrale de Sarlat</a></li>

<li><a href="https://www.romanes.com/Paris/Notre_Dame_de_Paris">Notre Dame de Paris</a></li>

<li><a href="https://www.romanes.com/Paris/Sainte_Chapelle/">Sainte Chapelle</a></li>

<li><a href="https://www.romanes.com/Paris/Saint_Eustache/">Saint Eustache</a></li>


</ul> 
</td><td class="boxlist" width="50%">
<ul class="boxlist">

<li><a href="https://www.romanes.com/StGermerdeFly/">St Germer de Fly</a></li>

<li><a href="https://www.romanes.com/Dampierre/">Dampierre sur Boutonne</a></li>

<li><a href="https://www.romanes.com/Boiscommun/">Boiscommun</a></li>

<li><a href="https://www.romanes.com/Saint_Leu/">Abbatiale de Saint Leu d'Esserent</a></li>

<li><a href="https://www.romanes.com/Auvers">Auvers sur Oise</a></li>

<li><a href="https://www.romanes.com/Mery">Saint Denis de Méry sur Oise</a></li>

<li><a href="https://www.romanes.com/Ercuis/">Saint Nicolas d'Ercuis</a></li>

<li><a href="https://www.romanes.com/Precy/">Saint Pierre et Saint Paul de Précy sur Oise</a></li>

<li><a href="https://www.romanes.com/Isle-sur-Sorgue/">N.D. des Anges de lsle sur la Sorgue</a></li>

<li><a href="https://www.romanes.com/Clermont/ND_Assomption">ND Assomption de Clermont</a></li>

<li><a href="https://www.romanes.com/Provins/">Saint Quiriace de Provins</a></li>


	</ul> 

</td></tr></tbody></table>
<!-- /RIGHTtable -->
